.taxoptimizeToolContent .panel-default span {
width: 2.2rem;
height: 2.8rem;
margin: -3px 20px;
position: absolute;
}
.prospectus01 {
background: url(../image/repositorylist/myprospectus01.png) no-repeat center;
background-size: 100%;
}
.prospectus02 {
background: url(../image/repositorylist/createprospectus01.png) no-repeat center;
background-size: 100%;
}
.prospectus03 {
background: url(../image/repositorylist/createprospectus02.png) no-repeat center;
background-size: 100%;
}
.count01 {
background: url(../image/repositorylist/count01.png) no-repeat center;
background-size: 100%;
}
.count02 {
background: url(../image/repositorylist/count02.png) no-repeat center;
background-size: 100%;
}
.honorsAwardsContent.has-header{
	top: 52px;
}
.taxoptimizeToolContent.has-header{
	top: 52px;
}
.taxoptimizeToolContent .row{
	padding:0px;
}
.taxoptimizeToolContent .col-xs-12{
	padding-right: 0px;
	padding-left: 0px;
}
.taxoptimizeToolContent .panel-heading{
	padding: 10px 80px;
	font-size: 16px;
	font-weight: bold;}
.createProspectusContent.has-header{
	background-color: #fff;
	top: 52px;
}
.createProspectusContent #scroller{
	padding-right: 0px;
	padding-left: 0px;}
.createProspectusContent .row{
	padding: 0px;}
.createProspectusContent .row .form-wrapper{
	width: 100%;
	}
.createProspectusContent .form-group .input-group .form-control{
	border-radius: 4px;
}
.taxCountContent .form-group .input-group .form-control{
	border-radius: 4px;
}
.createProspectusContent input[type="radio"]+span {
width: 1.2rem;
height: 1.2rem;
vertical-align: middle;
display: inline-block;
border-radius: 25px;
background: url(../img/radio.png) no-repeat center;
background-size: 17px;
border: none;
}

.createProspectusContent span[ class="option_left"]+span{
margin-left: 20%;	
}
.createProspectusContent input[type="radio"]+span.active{
	background: url(../img/radiocheck.png) no-repeat center;
	background-size: 17px;
	border: none;}
.createProspectusContent .col-xs-7{
	padding-top:7px;}
	.option_right {
float: right;
}
.createGProspectusContent.has-header{
	background-color: #fff;
	top: 52px;
}
.createGProspectusContent #scroller{
	padding-right: 0px;
	padding-left: 0px;}
.createGProspectusContent .row{
	padding: 0px;}
.createGProspectusContent .row .form-wrapper{
	width: 100%;
	}
.createGProspectusContent .form-group .input-group .form-control{
	border-radius: 4px;
}

.createGProspectusContent input[type="radio"]+span {
width: 1.2rem;
height: 1.2rem;
vertical-align: middle;
display: inline-block;
border-radius: 25px;
background: url(../img/radio.png) no-repeat center;
background-size: 17px;
border: none;
}

.createGProspectusContent span[ class="option_left"]+span{
margin-left: 20%;	
}
.createGProspectusContent input[type="radio"]+span.active{
	background: url(../img/radiocheck.png) no-repeat center;
	background-size: 17px;
	border: none;}
.createGProspectusContent .col-xs-7{
	padding-top:7px;}
	.option_right {
float: right;
}
input[disabled=true] {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
}

input[type="radio"]+span {
	width: 1.2rem;
	height: 1.2rem;
	vertical-align: middle;
	display: inline-block;
	border-radius: 25px;
	background: url(../img/radio.png) no-repeat center;
	background-size: 17px;
	border: none;
}

input[type="radio"]:checked+span {
	width: 1.2rem;
	height: 1.2rem;
	vertical-align: middle;
	display: inline-block;
	border-radius: 25px;
	background: url(../img/radiocheck.png) no-repeat center;
	background-size: 17px;
	border: none;
}

.jhs_textarea {
	width: 90%;
	min-height: 65px;
	margin: 10px 5%;
	padding: 5px 10px;
	border-radius: 2px;
	-webkit-appearance: textarea;
	background-color: white;
	border: 1px solid;
	border-color: rgb(169, 169, 169);
}
.taxCountContent.has-header{
	background-color: #fff;
	}
.taxCountContent .scroller{
	padding-right: 0px;
padding-left: 0px
}
.taxCountContent .row{
	padding-right: 0px;
padding-left: 0px
}
.taxCountContent .form-wrapper{
width:100%;}

.policyCountContent .row{
	padding: 0px;
}
.policyCountContent.has-header{
	background-color: #fff;
	top: 52px;
}
.policyCountContent #scroller{
	padding-right: 0px;
	padding-left: 0px;}
.policyCountContent .row{
	padding: 0px;}
.policyCountContent .row .form-wrapper{
	width: 100%;
	}
.policyCountContent .form-group .input-group .form-control{
	border-radius: 4px;
}
.taxCountContent .form-group .input-group .form-control{
	border-radius: 4px;
}
.policyCountContent input[type="radio"]+span {
width: 1.2rem;
height: 1.2rem;
vertical-align: middle;
display: inline-block;
border-radius: 25px;
background: url(../img/radio.png) no-repeat center;
background-size: 17px;
border: none;
}

.policyCountContent span[ class="option_left"]+span{
margin-left: 20%;	
}
.policyCountContent input[type="radio"]+span.active{
	background: url(../img/radiocheck.png) no-repeat center;
	background-size: 17px;
	border: none;}
.policyCountContent .col-xs-7{
	padding-top:7px;}
	.option_right {
float: right;
}
.policyCountContent.has-header{
	background-color: #fff;
	top: 52px;
}
.policyCountContent #scroller{
	padding-right: 0px;
	padding-left: 0px;}
.policyCountContent .row{
	padding: 0px;}
.policyCountContent .row .form-wrapper{
	width: 100%;
	}
.policyCountContent .form-group .input-group .form-control{
	border-radius: 4px;
}

.policyCountContent input[type="radio"]+span {
width: 1.2rem;
height: 1.2rem;
vertical-align: middle;
display: inline-block;
border-radius: 25px;
background: url(../img/radio.png) no-repeat center;
background-size: 17px;
border: none;
}

.policyCountContent span[ class="option_left"]+span{
margin-left: 20%;	
}
.policyCountContent input[type="radio"]+span.active{
	background: url(../img/radiocheck.png) no-repeat center;
	background-size: 17px;
	border: none;}
.policyCountContent .col-xs-7{
	padding-top:7px;}
.repositoryListContent span{
	width: 3.5rem;
height: 3.5rem;
display: block;
margin: 0 auto;
margin-bottom: 1rem;
}
.repositoryListContent.has-header{
	top: 52px;
}
.repository_td08 span {
background: url(../image/repositorylist/repository08.png) no-repeat center;
background-size: 100%;
}
.repository_td07 span {
background: url(../image/repositorylist/repository07.png) no-repeat center;
background-size: 100%;
}
.repository_td06 span {
background: url(../image/repositorylist/repository06.png) no-repeat center;
background-size: 100%;
}
.repository_td03 span {
background: url(../image/repositorylist/repository03.png) no-repeat center;
background-size: 100%;
}
.repository_td05 span {
background: url(../image/repositorylist/repository05.png) no-repeat center;
background-size: 100%;
}
.repository_td02 span {
background: url(../image/repositorylist/repository02.png) no-repeat center;
background-size: 100%;
}
.repository_td04 span {
background: url(../image/repositorylist/repository04.png) no-repeat center;
background-size: 100%;
}
.repository_td01 span {
background: url(../image/repositorylist/repository01.png) no-repeat center;
background-size: 100%;
}
.repositoryListContent #scroller{
	padding: 0px;
}
.repositoryListContent .row{
	padding-left: 0px;
padding-right: 0px;
}
.repositoryListContent h5 {
text-align: center;
line-height: 24px;
}
.enterprise_left01 img {
height: 100%;
width: 100%;
padding-right: 100px;
padding-left: 15px;
padding-top: 10px;
}
.companyBrandContent .right .right_h3{
	width: 100%;
	height: auto;
	line-height: 1.5rem;
	font-size: 1.2rem;
	font-weight: normal;
	color: #3b6fb2;
	text-align: left;
	padding: 1rem 0rem 0rem 1rem;
}
.companyBrandContent .left .right_h3{
	width: 100%;
	height: auto;
	line-height: 1.5rem;
	font-size: 1.2rem;
	font-weight: normal;
	color: #3b6fb2;
	text-align: left;
	padding: 1rem 0rem 0rem 1rem;
}
.companyBrandContent .enterprise_right01{
	text-indent: 2em;
	padding: 0 1rem;
	margin-top: 1rem;}
.enterpriseculture .dot .cur {
background: #005bb0;
}
.enterpriseculture .dot li {
width: 0.5rem;
height: 0.5rem;
border-radius: 30%;
background: #8d8d8d;
margin: 0 1rem;
float: left;
}
.enterpriseculture .dot {
width: auto;
height: 1.2rem;
overflow: hidden;
position: absolute;
bottom: 1rem;
left: 28%;
z-index: 4;
list-style: none;
}

.enterprise_right_ul ul li {
margin: 0;
padding: 0;
}
.enterprise_right_ul li {
height:11%;
width: 100%;
background: url(../../src/image/companybrand/enterpriseculture10.png)
 repeat-y 40px center;
background-size: 6.5%;
}
.right_ul_li {
float: left;
}
.right_ul_li p{
	float:left;
}
.enterprise_right02 {
height: 85%;
padding-left: 1rem;
padding-right: 1rem;
}
.enterprise_right_ul .lishi_span {
background: url(../../src/image/companybrand/enterpriseculture07.png)
 no-repeat center top;
background-size: 7px;
width: 22%;
display: block;
-webkit-transition: top 0.2s linear;
padding: 0rem;
position: absolute;
height: 2rem;
margin: 0rem;
top: 40px;
background-position: 38.5px 3px;
margin-left: 1px;
margin-top: 5px;
z-index: 5;
}
.enterprise_left_ul {
width: 70%;
height: 100%;
margin-left: 100px;
margin-right: 5px;
list-style: none;
overflow-y: scroll;
}
.enterprise_right_ul li span {
width: 12%;
height: 100%;
background: url(../../src/image/companybrand/enterpriseculture09.png)
 left center no-repeat;
background-size: 17%;
margin-bottom: 0;
position: absolute;
background-position: 17px 9px;
margin-left: -3.5%;
}
.companyBrandContent #wrapper{
	height: 100%;
}
.companyBrandContent .culture{
	height: 100%;
}
.companyBrandContent .enterpriseculture{
	height: 100%;
}
.companyBrandContent  #center{
	height: 100%;
}
.companyBrandContent  .center_in{
	height: 100%;
}
.companyBrandContent  #dhtmlbook{
	height:100%;
}
.companyBrandContent .myhistory{
	height:42%;
} 
.companyBrandContent .pageOfTwo.right{
	top: 48%;
height: 45%;
}
.companyBrandContent .pageOfTwo.right .enterprise_right01 {
	height: 79%;
	overflow-y: scroll;}
.companyBrandContent .pageOfFour.right .dhtmlbook_p a {
	line-height: 1.5rem;
	font-size: 14px;
	font-weight: normal;
	color: #3b6fb2;}
.companyBrandContent .enterprise_left_img{
	text-indent: 2em;
height: 122px;
width: 100%;
background: url(../../src/image/companybrand/enterpriseculture11.png)
 no-repeat center;
background-size: 100%;
padding-left: 0px;
}	
.honorsAwardsContent .page-content {
padding-top: 1%;
background-color: #F9F9F9;
overflow-y: auto;
overflow-x: hidden;
-webkit-overflow-scrolling: touch;
margin-bottom: -1px;
position: absolute;
/* top: 44px; */
/* bottom: 0; */
height: 100%;
left: 0;
right: 0;
}
.honorsAwardsContent .page-content .page {
width: 100%;
top: 44px;
height: 100%;
margin: 0;
background: #F0F0F0;
display: table;
-moz-box-shadow: 0 5px 20px #CCCCCC;
-webkit-box-shadow: 0 5px 20px #CCCCCC;
box-shadow: 0 5px 20px #CCCCCC;
padding-top: 15px;
padding-bottom: 15px;
}
.honorsAwardsContent .box {
width: 100%;
height: 100%;
overflow: scroll;
margin: 0;
padding: 0rem 0rem 0rem 1rem;
list-style-type: none;
}
.honorsAwardsContent .event_year {
position: fixed;
width: 3rem;
text-align: center;
float: left;
height: 65.8%;
}
.honorsAwardsContent .event_year li.current {
color: #FFF;
background-color: #0dbbd4;
}
.honorsAwardsContent .event_year li{
	width: 3rem;
	height: 1rem;
	line-height: 0rem;
	background: #FFF;
	margin-bottom: 1px;
	font-size: 1rem;
	color: #828282;
	cursor: pointer;
	text-align: center;
	padding: 1rem 1rem 2rem 0.5rem;
	/* border: 1px solid red; */}
.honorsAwardsContent .event_list {
width: 85%;
float: right;
background: url('../../src/image/hornorsawards/dian3.png') repeat-y;
margin: 0px 0 20px 0;
background-position: 64px 10px;
}
.honorsAwardsContent .event_list h3 {
margin: 0 0 1rem 11rem;
font-size: 1.2rem;
font-family: Georgia;
color: #02b5cf;
padding-left: 25px;
padding-bottom: 0px;
margin-bottom: 0px;
margin-left: 56px;
background: url('../../src/image/hornorsawards/jian.png') 0 -45px
 no-repeat;
height: 2rem;
line-height: 2rem;
font-style: italic;
}
.event_list li span {
width: 4rem;
text-align: center;
display: block;
float: left;
margin-top: 1.5rem;
color: #02b5cf;
font-size: 0.3rem;
}
.event_list li p span {
width: 100%;
text-align: left;
padding: 10px 5px 10px 15px;
background: #FFF;
margin: 0;
font-size: 1rem;
color: #777;
border-bottom: 2px solid #DDD;
}

.event_list li span {
width: 4rem;
text-align: center;
display: block;
float: left;
margin-top: 1.5rem;
color: #02b5cf;
font-size: 0.3rem;
}
.event_list li p{
	width: 72%;
/* margin: 0; */
display: inline-block;
padding-left: 10px;
background: url('../../src/image/hornorsawards/jian.png') -18px 0
 no-repeat;
line-height: 2rem;
font-family: "微软雅黑";
margin-top: -37px;
margin-left: 70px;
}
.event_list>div {
-webkit-transition: all .5s linear;
overflow: hidden;
}
.ico1 {
background: url(../image/product/pro_ico1.png) no-repeat center;
background-size: 100%;
}
.ico2 {
background: url(../image/product/pro_ico2.png) no-repeat center;
background-size: 100%;
}
.ico3 {
background: url(../image/product/pro_ico3.png) no-repeat center;
background-size: 100%;
}
.ico4 {
background: url(../image/product/pro_ico4.png) no-repeat center;
background-size: 100%;
}
.ico5 {
background: url(../image/product/pro_ico5.png) no-repeat center;
background-size: 100%;
}
.productContent #scroller{
	padding: 0px;
}
.productContent .row{
	padding: 0px;
}
.productContent span {
width: 3.5rem;
height: 3.5rem;
display: block;
margin: 0 auto;
margin-bottom: 1rem;
}
.productContent.has-header{
	top:52px;
} 
.productContent h5 {
text-align: center;
}
.div-span {
margin-top: 1rem;
margin-bottom: 1rem;
}
.repositoryTempletContent .search_div {
width: 100%;
margin: 10px auto;
padding: 0 15px;
}
.repositoryTempletContent .search_img {
position: absolute;
margin: 18px 10px;
color: #ccc;
}
.repositoryTempletContent.has-header{
	top:52px;
}
.repositoryTempletContent input[type="search"]{
	border: 1px solid #ccc;
	height: 16px;
	padding: 6px 12px 6px 35px;
	width: 86%;}
.repositoryTempletContent .detail-list.list-group .list-group-item {
	vertical-align: top;
	border: none;
	border-bottom: 1px solid #ddd;
	margin-bottom: 0;
	padding: 10px 15px;}
.repositoryTempletContent .row{
	padding: 0px;
}
.repositoryTempletContent .col-xs-12{
padding:0px;	
}
.repositoryTempletContent ul{
	padding: 0px;
}
.repositoryTempletContent form{
	background-color:#fff;
}

.modal-dialog.recountal{
	z-index: 9999999;
background-color: #fff;
margin: 0px;
width: 100%;
}
/* .repositoryRecountalContent fieldset{
	border:none;
}
.repositoryRecountalContent .text_dir {
padding: 0px 25px 0px 35px;
width: 100%;
margin: 0;
height: 18px;
}
.repositoryRecountalContent .content-line p {
padding: 0px 25px 0px 35px;
line-height: 25px;
} */
#recountalPage fieldset{
	border:none;
}
#recountalPage .text_dir {
padding: 0px 25px 0px 35px;
width: 100%;
margin: 0;
height: 18px;
}
#recountalPage .content-line p {
padding: 0px 25px 0px 35px;
line-height: 25px;
}
.repositoryTempletContent .article_right_top {
display: block;
overflow-x: scroll;
background-color: #ffffff;
}
.repositoryTempletContent .repository_top {
float: left;
/* width:33.3%; */
padding: 0px 10px 10px 0px;
}
.repositoryTempletContent .article_right_top .cur h4 {
color: #005BAC;
border-bottom: 2px solid #005BAC;
}
.repositoryTempletContent .repository_top h4 {
border-bottom: 2px solid #ffffff;
font-weight: bold;
line-height: 2rem;
text-align: center;
font-size: 14px;
margin-left: 12px;
}
.repositoryRecountalContent.has-header{
	top:52px;
}
.modal-dialog.recountal{
	overflow-y:scroll;
}
.productListContent.has-header{
	top:52px;
}
.productListContent .row{
	padding:0px;
}
.productListContent .col-xs-12{
	padding:0px;
}
.productListContent .panel .panel-heading{
	font-size: 16px;
	font-weight: bold;
	background-color: #FFF;
	border: none;
	word-wrap: break-word;}
	.productSeclistContent.has-header{
	top:52px;
}
.productSeclistContent .row{
	padding:0px;
}
.productSeclistContent .col-xs-12{
	padding:0px;
}
.productSeclistContent .panel .panel-heading{
	font-size: 16px;
	font-weight: bold;
	background-color: #FFF;
	border: none;
	word-wrap: break-word;}
.productListContent .panel-default{
	border-left: 0;
	border-right: 0;}
.productSeclistContent .panel-default{
	border-left: 0;
	border-right: 0;}
.repositoryTempletContent{
	overflow-y:scroll;
}
.prospectusListContent .search_div{
	width: 100%;
margin: 10px auto;
padding: 0 15px;
}
.prospectusListContent .search_img{
	position: absolute;
margin: 18px 10px;
color: #ccc;
}
.prospectusListContent  input[type="search"]{
	border: 1px solid #ccc;
height: 16px;
padding: 6px 12px 6px 35px;
width: 86%;
}
.prospectusListContent  .list-group-item{
border: none;
border-bottom: 1px solid #ddd;
margin-bottom: 0;
}
.prospectusListContent ul{
	padding: 0;
}
.prospectusListContent .col-xs-12{
	padding: 0;
}
.prospectusListContent .row{
	padding: 0;
}
.prospectusListContent #more-view{
	text-align:center;
}
.prospectusListContent .left_span {
float: left;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
display: inline-block;
width: 40%;
text-align: left;
}
.prospectusListContent .right_span{
	margin-left: 10px;
}
.prospectusListContent .xiazai_img {
width: 25px;
}
.prospectusListContent ul.list_ul li {
text-align: right;
}
.prospectusListContent.has-header{
	top:52px;
	overflow-y: scroll;
}
.prospectusListContent form{
	background-color:#fff;
}
.repositoryContent .panel-default span{
	width: 2.2rem;
height: 2.8rem;
margin: 0px 20px;
position: absolute;
}
.repositoryContent .repository-tool {
background: url(../image/repositorylist/repositorytool01.png) no-repeat center;
background-size: 100%;
}
.repositoryContent .repository {
background: url(../image/repositorylist/repository.png) no-repeat center;
background-size: 100%;
}
.repositoryContent.has-header{
	top:52px;
}
.repositoryContent .row{
	padding:0px;
}
.repositoryContent .col-xs-12{
	padding:0px;
}
.repositoryContent .panel-default > .panel-heading{
	padding: 12px 80px;
font-size: 16px;
font-weight: bold;
}
.toolContent .taxoptimize {
background: url(../image/repositorylist/taxoptimize01.png) no-repeat center;
background-size: 100%;
}
.toolContent  .panel-default span{
	width: 2.2rem;
height: 2.8rem;
margin: 0px 20px;
position: absolute;
}
.toolContent.has-header{
	top:52px;
}
.toolContent .row{
	padding:0px;
}
.toolContent .col-xs-12{
	padding:0px;
}
.toolContent .panel-heading {
padding: 12px 80px;
font-size: 16px;
font-weight: bold;
}
.taskIndexContent.has-header{
	padding: 0px;
}
.taskIndexContent.has-header{
	padding: 0px;
}
.taskIndexContent .container-fluid{
	padding:0px;}
.taskIndexContent #div_task .row{
	padding:0px;
}
.statIndexContent .my-custom {
position: absolute;
width: 2.8rem;
height: 3.5rem;
background: url(../image/statistic/wodekehu.png) no-repeat center;
background-size: 100%;
margin: 0 20px;
}
.statIndexContent .my-map {
position: absolute;
width: 2.8rem;
height: 3.5rem;
background: url(../image/statistic/ditu.png) no-repeat center;
background-size: 100%;
margin: 0 20px;
}
.statIndexContent.has-header{
	top:52px;
}
.statIndexContent .row{
	padding:0px;
}
.statIndexContent .col-xs-12{
	padding:0px;
}
.statIndexContent .panel-default span {
width: 2.2rem;
height: 2.8rem;
margin: 0px 20px;
position: absolute;
}
.statIndexContent .panel-default > .panel-heading {
padding: 12px 80px;
font-size: 16px;
font-weight: bold;
}
.mapContent.has-header{
	top:52px;
}
.mapContent .page-content{
	margin-top: 2%;
}
.mapContent label{
	line-height: 32px;
}
.fontsize10 {
font-size: 10px;
}
.greaterthan3 {
position: absolute;
width: 12px;
height: 12px;
line-height: 12px;
background-color: #005BAC;
border-radius: 12px 12px;
top: 20%;
}
.lessthan3 {
position: absolute;
width: 12px;
height: 12px;
line-height: 12px;
background-color: #73cb0a;
border-radius: 12px 12px;
top: 20%;
}
.greaterthan5 {
position: absolute;
width: 12px;
height: 12px;
line-height: 12px;
background-color: #ff0000;
border-radius: 12px 12px;
top: 20%;
}
.custListContent.has-header{
	top:52px;
}
.custListContent .row{
	padding-left:0px;
	padding-right:0px;
}
.custListContent .col-xs-12{
	padding-left:0px;
	padding-right:0px;
}
.custListContent .detail-list{
	padding-left: 0px; 
}
.custListContent .detail-list.list-group .list-group-item {
vertical-align: top;
border: none;
border-bottom: 1px solid #ddd;
margin-bottom: 0;
padding: 6px 15px;
}
.custDetailContent.has-header{
	top: 56px;
	overflow-y: scroll;
}
.custDetailContent .clear-padding{
	line-height: 2rem;
}
.custDetailContent label{
	line-height: 2rem;
	font-weight: bold;
}
.custDetailContent .mb10 {
margin-bottom: 10px;
}
.custDetailContent .select{
	display:table;
	width: 100%;
}
.custDetailContent .input-group .form-control {
position: relative;
z-index: 2;
float: left;
width: 100%;
margin-bottom: 0;
}
.createActivityContent.has-header{
	top:52px;
	background-color: #fff;
}
.createActivityContent .container-fluid{
	padding-left:0px;
	padding-right:0px;
}
.createActivityContent .row{
	padding-left:0px;
	padding-right:0px;
}
.createActivityContent .form-horizontal .form-group .control-label {
font-weight: normal;
line-height: 29px;
padding-right: 0;
padding-left: 15px;
}
.createActivityContent .dropdown-menu > li > a{
	text-align: left;
}
.createActivityContent .dropdown-menu{
	margin: 35px 0 0;
}
.custDetailContent .dropdown-menu{
	margin:2px 0 0;
}
.createActivityContent input[type=text].form-control{
	border: 1px solid #ccc;
	border-radius: 4px;
}
.rowContainer{
	width: 100%;
}
#index_activity_model_contact input{
	border-radius:4px;
}
.list-group-item .collapse-toggle.taskcreate_a_subtask {
position: absolute;
right: 5px;
top: 10px;
}
#carousel-modal .modal-body{
	padding: 15px;
}
.carousel-inner .item img{
	margin:auto;
}
.carousel-control{
	z-index: 2;
}
