body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei";
}
ul,
li {
	list-style: none;
	list-style-type: none;
}
.pages {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#datescroll div {
	float: left;
	margin-left: 5%;
	margin-top: 15px;
	padding-right: 22px;
}
#datescroll_datetime div {
	float: left;
	margin-left: 10%;
	padding-right: 22px;
}
#contentwrappers {
	position: absolute;
	left: 5%;
	top: 40px;
	bottom: 20px;
	width: 90%;
	z-index: 99;
}
#monthwrapper {
	position: absolute;
	left: 26%;
	top: 45px;
	bottom: 60px;
	width: 80%;
}
#daywrapper {
	position: absolute;
	left: 50%;
	top: 45px;
	bottom: 60px;
	width: 80%;
}
#Hourwrapper {
	position: absolute;
	left: 0;
	top: 195px;
	bottom: 68px;
	width: 80%;
}
#Minutewrapper {
	position: absolute;
	left: 26%;
	top: 195px;
	bottom: 68px;
	width: 80%;
}
#Secondwrapper {
	position: absolute;
	left: 50%;
	top: 195px;
	bottom: 68px;
	width: 80%;
}
/*å¢žåŠ æ‰‹æŒ‡æ»‘åŠ¨è§¦æ‘¸é¢ç§¯*/

#Hourwrapper ul li {
	color: #898989;
	font-size: 12px;
}
#Minutewrapper ul li {
	color: #898989;
	font-size: 12px;
}
#Secondwrapper ul li {
	color: #898989;
	font-size: 12px;
}
#yearwrapper ul li {
	color: #898989;
	font-size: 12px;
}
#monthwrapper ul li {
	color: #898989;
	font-size: 12px;
}
#daywrapper ul li {
	color: #898989;
	font-size: 12px;
}
#markyear {
	position: relative;
	margin-left: 76px;
	top: -2px;
}
#markmonth {
	position: relative;
	margin-left: 40px;
	top: -2px;
}
#markday {
	position: relative;
	margin-left: 42px;
	top: -2px;
}
#markhour {
	position: relative;
	margin-left: 62px;
	top: -2px;
}
#markminut {
	position: relative;
	margin-left: 58px;
	top: -2px;
}
#marksecond {
	position: relative;
	margin-left: 68px;
	top: -2px;
}
#dateheader {
	width: 100%;
	height: 50px;
	background: #79C12F;
	text-align: center;
	color: #fff;
	line-height: 50px;
	font-size: 20px;
}
#setcancles ul {
	text-align: center;
	line-height: 30px;
	font-size: 20px;
}
#setcancles ul li {
	float: left;
	height: 40px;
	line-height: 40px;
	list-style-type: none;
	font-family: 'Microsoft YaHei';
	font-size: 16px;
}
#dateconfirm {
	position: absolute;
	right: 3%;
	color: #080808;
}
#datecancle {
	position: absolute;
	left: 3%;
	color: #080808;
}
#dateshadow {
	z-index: 9999;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
	filter: alpha(Opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
#datePages {
	font-size: 22px;
	border-radius: 3px;
	position: fixed;
	bottom: 0;
	MARGIN-RIGHT: auto;
	vertical-align: middle;
	MARGIN-LEFT: auto;
	width: 100%;
	height: 200px;
	background: #FFFFFF;
	z-index: 9999999;
}
#datetitle {
	width: 100%;
	height: 50px;
	background: #79C12F;
	text-align: center;
	color: #fff;
	line-height: 50px;
	font-size: 20px;
	font-family: 'Microsoft YaHei';
}
#datetitle h1 {
	font-weight: normal;
}
#datemarks {
	font-size: 18px;
	left: 5%;
	width: 90%;
	height: 20px;
	position: absolute;
	top: 108px;
}
#timemark {
	font-size: 18px;
	left: 5%;
	width: 90%;
	height: 20px;
	position: absolute;
	top: 242px;
	background: #eee;
	border: 1px solid #eee;
}
#datescrolls {
	margin-top: 50px;
	width: 100%;
	border-radius: 4px;
	height: 160px;
	text-align: center;
	line-height: 40px;
}
#datescroll_datetime {
	display: none;
	background: #F8F8F8;
	width: 94%;
	margin: 10px 3%;
	margin-top: 10px;
	border: 1px solid #E0E0E0;
	border-radius: 4px;
	height: 120px;
	text-align: center;
	line-height: 40px;
}
#yearwrapper ul,
#monthwrapper ul,
#daywrapper ul {
	width: 100%;
}
#Hourwrapper ul,
#Minutewrapper ul,
#Secondwrapper ul {
	width: 40%;
}
#dateFooters {
	top:0;
	width: 100%;
	background: white;
	height: 40px;
	position: absolute;
	border-bottom: 1px solid #f7f7f7;
}