@charset "utf-8";
html,body{font-family: "Microsoft YaHei";}
a {text-decoration: none;}
input[disabled], input[readonly]:not(.cloned-text-input), select[disabled], select[readonly], textarea[disabled], textarea[readonly]:not(.cloned-text-input) {
background-color: transparent;cursor: not-allowed;}
.item-icon-right .icon {right: 0px;font-size: 26px;}
.item-icon-left .icon:before, .item-icon-right .icon:before{color: #9d9d9d;}
.loading-container .loading{  padding: 0;background-color: transparent;}
.nav-bar-container.bar-hide{display: none;}
.bar-hide.has-header,
.bar-hide.discroll-content{top:0;}
/* .has-header{top:20px;} */
.has-header.scroll-content{
	padding-top:0px;
	margin-top:0px;
}
.bar{height:53px;}
.bar .title{
/* height: 52px;
line-height: 52px; */
font-size:1.36em;
text-align: center;}
.view-container {top:0;}
.panel-default > .panel-heading {padding:0;}
.item-checkbox .item-content {margin-left: -60px;  padding-left: 60px;}
.item-select select{padding: 10px 26px 10px 16px;}
.item-select.item-icon-right select,
.item-input.item-icon-right input,
.item-input.item-icon-right textarea{right:54px;}
.item-icon-right.hasAutoComplate .item-input{padding-right:54px;}
.list .item:last-child{border:none;}
/* 修改公共部分  start*/
.col-67{color:#9d9d9d;}
.bg-white{background-color: #FFF;}
.bg-grey{background-color: #f6f6f6;}
.bg-cpic{background-color: #005bac;}
.bg-red{background-color: #e83344;}
.color-cpic{color:#005bac;}
.color-light-blue{color:#009ddc;}
.color-red{color:#e83344;}
.color-orange{Color:rgb(245,161,0);}
.item-icon-left .icon.color-cpic:before, .item-icon-right .icon.color-cpic:before{color:#005bac;}
/* .pane{background-color: #f6f6f6;} */
.bg-grey.pane{
	background-color:#FFF;
}
.has-header{background-color: #f6f6f6;}
.modal-wrapper .pane{background-color: rgba(0,0,0,.4);}
.panel-group{margin-bottom:0;}
.button.button-assertive{background-color: #e83344;}
.button.button-calm{background-color:#009ddc;}
.checkbox input:checked+.checkbox-icon:before, .checkbox input:checked:before{background: #005bac;border-color:#005bac;}
.item-input input[disabled],.item-input input[readonly]:not(.cloned-text-input),.item-input select[disabled],.item-input select[readonly],.item-input textarea[disabled],.item-input textarea[readonly]:not(.cloned-text-input) {Color:rgb(0,91,172);}
/* 修改公共部分  end*/

.bar.bar-header{background-color: #005bac;}

.tab-nav.tabs{list-style:none;border:none;background-color: #FFF;}
.tab-nav.tabs .tab-item.tab-item-active{border-bottom:2px solid #005bac;color:#005bac;}
.tab-nav.tabs .tab-item{width:50%;text-align: center;font-size: 16px;border:0; margin-right: 0;color:#000;max-width: none; opacity: .9;}
.cust-tabs .nav{list-style:none;border:none;background-color: #FFF;}
.cust-tabs .nav li{width:50%;float:left;}
.cust-tabs .nav li a{text-align: center;font-size: 16px;border:0; margin-right: 0;color:#333;}
.cust-tabs .nav li.active a{border-bottom:2px solid #005bac;color:#005bac;}

.badge{background-color: #e83344;color:#FFF;}
.item {margin:0;border:none;border-bottom: 1px solid #f7f7f7;}
.fixed-button{position: absolute;bottom:56px;right:3vw;color:#FFF;z-index:1000;width: 45px;height: 45px;}
.fixed-button.dropdown .dropdown-menu{left:auto;right:0;}
.fixed-button.dropdown .dropdown-toggle button{width:45px;height:45px;border: 1px solid #009ddc;padding:2px;border-radius: 50%;}
.fixed-button.dropdown .dropdown-toggle .button.icon{width:100%;height:100%;margin:0;padding:0;border:0;background-color: #009ddc;border-radius:50%;min-width: 39px;min-height: 39px;}
.fixed-button.dropdown .button.icon::before{color:#FFF;line-height: 39px;}
.fill-height .scroll{min-height: 100%;}
.padding-less .item{  padding: 0 16px 6px 16px;}
.first-item-border-top .item:first-child{border-top:1px solid #f7f7f7;}
.item .inputAndText{display: inline-block;  position: absolute;  right: 16px;}
.item .inputAndText input{  float: left;}
.pl0{padding-left: 0 !important;}
.item-icon-right.two-icon{padding-right: 108px;}
.item-icon-right.two-icon .icon:not(:last-child){right:60px;}
.right-align{text-align: right;}
.item-withrows .row,
.item-withrows .row .col{padding-left:0;padding-right: 0;}
.item-margin .item+.item{margin-top:5px;}
.row.row-clear-h-padding{padding-left: 0;padding-right: 0;}
.row.row-clear-h-padding .col{padding-left: 0;padding-right: 0;}

.chart-wrap{width:76%;display: inline-block;margin:0 auto;height: 100%; }
.chart-wrap .chart-container{ background: url(../img/percentage01.png) no-repeat center;background-size: 16%;}
.chart-wrap .chart-container canvas{vertical-align: middle;}
.discroll-content {margin-top:53px;}
.hasAutoComplate-wrap{position: relative;}
.angucomplete-dropdown{width:100%;;max-height:16rem;overflow-y:scroll;overflow-x:hidden; }
.hasAutoComplate.item{position: static;overflow:visible; padding:4px 0;}
.hasAutoComplate .item-input{overflow:visible;}
.hasAutoComplate ul{overflow-y: auto;max-height: 15rem;}
.button{border-radius:6px;margin-left:2%;margin-right:2%;}
.button-bar>.button{border:0;  line-height: 47px;}
.button-bar>.button:last-child,
.button-bar>.button:first-child{border-radius:6px;}
/*首页*/
.home .more{color:#005bac;font-size:12px;  font-weight: normal;}
.home-msgShower.right-border {border-right: 1px solid #ddd;}
.home-msgShower.left-border {border-left: 1px solid #ddd;}
.home-msgShower .picture{text-align: center;height: 4rem;}
.home-msgShower h4 ,.home-msgShower h5{text-align: center;font-family: "微软雅黑"}
.home-msgShower h4 {font-size: 1.2rem;}
.home-msgShower h5 {font-size: 1rem;}
.home-msgShower .home-icon-baofei{background: url(../img/home-baofei.png) no-repeat center;background-size: 50%;}
.home-according .panel-group .panel + .panel{margin-top:0;border-top:0;}
.home-according .panel-heading .item{border-bottom: none;}
.home-according .panel-collapse .panel-body{padding:0 0 0 30px;}
.home-according .panel-collapse .panel-body .button.pull-right{border:0;}
.home-according .panel-collapse .list-group{margin-bottom: 0;}
.home-according .panel-collapse .list-group .list-group-item{border:none;border-bottom: 1px solid #ddd;margin-bottom: 0;padding: 6px 15px;}
.home-according .item .badge {right:46px;}

.list-spacing .item{margin-top:5px;}
.item-select:after{color:#f5a100;}
.item-select.item-icon-right:after{right:54px;}
.item .item-input input,
.item .item-input select{text-align: right;}
.item .item-input textarea{border:1px solid #ddd;border-radius: 4px;width:60%;}
.icon-bg-blue.icon:before{background-color: #005bac;color:#FFF;border-radius: 4px;  width: 36px;}
/*.panel-open .panel-title .ion-chevron-right:before{content: "\f123";}*/
/*续保*/
.card-headind{font-size:16px;line-height: 3;border-bottom: 1px solid #ddd;}
.card-headind .button{display: inline-block;  width: 30px;height: 30px; border: 0;  min-height: 30px;  vertical-align: middle;background-color: #666;border-radius: 50%;  min-width: 30px;  color: #FFF;  padding: 4px;margin-top:9px;}
.card-headind .button .icon:before{line-height: normal;font-size: 18px;}
.card-content{min-height: 40px;height: 48px;}
.card-content .card-content-left{width:60%;float:left;}
.card-content .card-content-right{width:40%;float:right;  height: 100%;line-height: 48px;text-align: right; }
.card-content .card-content-left .card-content-left-top{width:100%;font-size: 14px;line-height: 2;}
.card-content .card-content-left .card-content-left-bottom{width:100%;color:#999;font-size: 12px;}
/*客户*/
.cust-tabs .nav{list-style: none;margin:10px; background-color: #FFF; border-radius: 4px;  border: 1px solid #005bac;margin-top: 4px;} 
.cust-tabs .nav li{width:50%;float:left;margin-bottom:0;}
.cust-tabs .nav li a{text-align: center;font-size: 16px;border:0; margin-right: 0;color:#333; padding: 3px 15px;}
.cust-tabs .nav li:first-child  a{border-radius: 4px 0 0 4px;}
.cust-tabs .nav li:last-child a{border-radius: 0 4px 4px 0;}
.cust-tabs .nav li.active a{background-color: #005bac;color:#FFF; border-bottom:none;/* color:#005bac; */}
.searchbar{background-color: #f6f6f6;position: relative;}
.searchbar .btn{color:#666;padding:0;}
.searchbar .btn-search,
.searchbar .searchbar-input{width:100%;float: left;background-color: #FFF;}
.searchbar .item-input-wrapper input{height:3em;  line-height: 24px; font-size:1em;}
.searchbar .search-div{display:flex;align-items: center;padding:10px;background-color: #FFF;}
.searchbar .search-div .item-input-wrapper .placeholder-icon:before{font-size: 16px;line-height: 27px;}
.searchbar .search-div .item-input-wrapper{background-color: #e6e6e6;border-radius: 6px;}
.searchbar .search-div .item-input-wrapper input{width:100%;background-color: #e6e6e6;color:#333333;}
.searchbar.has-icon-right .btn-search,
.searchbar.has-icon-right .searchbar-input{display: flex;margin-left:2rem;}
.searchbar.has-icon-right .item-input-wrapper{width:86%;float: left;}
.searchbar.has-icon-right .searchbar-appending{width:14%;float: right;  text-align: center;display: block;  line-height: 27px;}
.searchbar.has-icon-right .searchbar-appending.item-select:after{right: 0;}
.searchbar.has-icon-right .searchbar-appending .icon{font-size: 24px;height: 26px;vertical-align: middle;}
.searchbar .searchbar-input{vertical-align: middle; border:0;color: #9d9d9d;padding: 0;  font-size: 16px;font-weight: normal;line-height: 1.42857143;  background-image: none;border-radius: 4px;height:auto;}
.searchbar .searchbar-collapse {height: 0;position:absolute;width:100%; background-color: #FFF;-webkit-transition: height .2s ease-in-out;transition: height .2s ease-in-out; visibility: hidden;  padding-bottom: 20px;border-bottom: 1px solid #ddd;box-shadow: 2px 6px 6px #ddd;}
.searchbar .searchbar-collapse.in{height: auto;visibility: visible; z-index: 999;}
.ion-collapse-filter{background: url("../img/filter.png") no-repeat center center;height: 100%;font-size: 32px;background-size: contain;width: 26px;display: inline-block;}
/*客户*/
.top-bars{background-color: #f4f5f2;text-align: center;}
.top-bars .policyQuery,
.top-bars .claimsQuery{height: 4rem;}
.top-bars .top-bar-img{width:100%;height: 2rem;}
.policyQuery .top-bar-img{background: url(../img/policyQuery.png) center center no-repeat;background-size: 20%;}
.claimsQuery .top-bar-img{background: url(../img/claimsQuery.png) center center no-repeat;background-size: 20%;}
/* .custDetail-content .item.list-group-item-heading{padding-top:4px;padding-bottom: 4px;} */
/*风险分析*/
.riskAnalysis-content .panel-group .panel {margin-top:0;border:none;border-bottom: 1px solid #ddd;}
.riskAnalysis-content .card-content{color: #9d9d9d;}
/*我的绩效*/
.charts-cont{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.charts-cont.with-border .col + .col{border-left:1px solid #ddd;}
.charts-cont .unit{height:3rem;position: relative;text-align: center;}
.charts-cont .nums {color:#005bac;}
.unit .nums{position: absolute;left:22%;}
.unit.chart-unit .nums{position: absolute;line-height:20px;top: 30%;top: calc(50% - 10px);left: 35%;left:calc(50% - 14px);}
.unit.chart-unit .chart-container{height: 100%;}
.unit-xzkh{background: url(../img/xzkh.png) no-repeat bottom center;background-size: 60%;}
.unit-xzbf{background: url(../img/xzbf.png) no-repeat bottom center;background-size: 58%;}
.unit-ysbf{background: url(../img/ysbf.png) no-repeat bottom center;background-size: 52%;}
.unit-ljbf{background: url(../img/ljbf.png) no-repeat bottom center;background-size: 52%;}
.charts-cont .col h5{text-align: center;margin-bottom:0;}
.pfmc-cont-title{padding-left: 1rem;}
.chart-text{display: inline-block;  margin-right: .2rem;}
.chart-text .line{width:2rem;height: 1px;display: inline-block;vertical-align: middle;margin-right: .6rem;}
.char-unit-pie{border-top:8px solid #f5f5f5;}
.option-title .title-logo{width:2rem;height: 3rem;margin-right: .6rem;background: url(../img/ysbf.png) no-repeat center center; background-size: 100%; display: inline-block;vertical-align: middle;}
.team-chart-cont .half + .half{border-left:1px solid #ddd;}
.team-chart-cont .row + .row{border-top:1px solid #ddd;margin-top:0;padding-top: 5px;}
.infos{display: flex;flex-direction: column;justify-content: space-around;}

/**修改**/
.icon-cust-edit{background: url("../img/ico-edit.png") no-repeat center center;  background-size: contain;width:26px;}
.color-black-item{color:#333333;font-weight:700;}
.panel-group .panel .panel-heading{background-color: inherit;}
.icon.ion-plus-circled{font-size:22px;}
.list + .list,.list-with-top-margin .list{margin-top:20px;}
.mt20{margin-top:20px;}
.list{background-color: #FFF;padding-left:10px;padding-right: 10px;}
/* .list .item{margin-left:16px;margin-right:16px;padding-left:2px;} */
.list-level1 .list .item,
.list-level1.list .item{margin-left:32px;padding-left:0;}
.list-level2 .list .item,
.list-level2.list .item{padding-left:2px;}
.list-level1 .list .item:last-child,
.list-level1.list .item:last-child,
.list-level2 .list .item:last-child,
.list-level2.list .item:last-child{
	border-bottom:0;
}
.list-level2 .list .item.hasAutoComplate .item-input{padding-left:0;}
.detail-list{padding-left:20px;}
.button-bar{margin-top:20px;margin-bottom:20px;padding:0 10px;}
.button-bar.cust-button-bar,
.button-bar.cust-button-bar .button-bar{padding:0;}
.item .panel{border:0;}
.item .panel .panel-heading{padding:0;background-color: inherit;}
.item .panel .panel-body{padding:0;}
.item .panel .list-group-item{border:none;}
.item-icon-right .glyphicon {
  right: 11px;
} 
.item-icon-left .glyphicon:not(.notflex), .item-icon-right .glyphicon:not(.notflex) {display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -moz-flex;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;-moz-align-items: center;align-items: center;position: absolute;top: 0;height: 100%;font-size: 32px;}
.home-according .list .item{padding-left:60px;}
.item-input .input-label{color:#8c8c8c;}
.item-input .text-div {
	color: #9d9d9d;
	text-align: right;
	background-color: transparent;
	width: 100%;
	display: block;
	padding-top: 2px;
	padding-left: 0;
	vertical-align: middle;
	font-size: 14px;
	line-height: 20px;
	border-radius: 0;
	-webkit-box-flex: 1;
	/* -webkit-flex: 1 180px;
	-moz-box-flex: 1;
	-moz-flex: 1 180px;
	-ms-flex: 1 180px;
	flex: 1 180px; */
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex:1;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	padding-right: 0;
	background-color: transparent;
	/* white-space: normal;
	word-break: break-all; */
}

.item-input input{text-align: right;color:#005bac;padding-right:0;overflow-x:scroll; -webkit-flex: 1 180px;-moz-box-flex: 1;-moz-flex: 1 180px;-ms-flex: 1 180px;flex: 1 180px;}
.item-input.item-icon-right{padding-right:32px}
.links-accordion .item-content{padding:0;}
.links-accordion .item{margin-left:0;}
.links-accordion .link-title.item-icon-right{  padding-right: 54px;margin-left: 0;}
.links-accordion .link-title.item-icon-right .icon{  font-size: 22px;}
.links-accordion .panel-group{margin-bottom:0;}
.links-accordion .panel-group .panel-heading + .panel-collapse .panel-body{border-top:0;background-color: #f6f6f6;}
.links-accordion .panel-group .panel-heading + .panel-collapse .panel-body .list-group{margin-bottom:0;border-radius:6px;color:#9d9d9d;padding-top:10px;padding-bottom:10px;}
.links-accordion .panel-group .panel-heading + .panel-collapse .panel-body .list-group li{background-color: #f6f6f6;  padding: 2px 16px;font-size:14px;}
.links-accordion .panel-group .panel-heading + .panel-collapse .panel-body .list-group li:first-child{border-top-left-radius: 6px;border-top-right-radius: 6px;}
.links-accordion .panel-group .panel-heading + .panel-collapse .panel-body .list-group li:last-child{border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;}

.dropup-buttons .button{width:100%;margin:0;}

.bar-footer .dropdown{width:100%;}
.bar-footer .dropdown .dropdown-menu{right:0;left:auto;float:right;margin:0;border:0;padding-top:0;width: 100%;}
.dropdown .dropdown-menu .dropup-buttons .button{border:0;border-bottom:1px solid #ddd;}
.bar-footer .button-bar{margin-top:0;margin-bottom:0;}
.bar-footer .button-bar .button{margin-left:0;margin-right:0;border-radius:0;min-height:43px;line-height:44px;font-size:16px;}
.bar-footer .button.more{color:#e83344;/* line-height:20px;font-size: 13px; */}
.bar-footer .button.more .dian{font-weight: bolder;font-size: 16px;}
.flex-40{flex:1 40% !important;}
.flex-60{flex:1 60% !important;}
.clear-padding{padding:0 !important;}
.bar-footer.clear-padding{margin-bottom:-1px;}
.analy-unit{border-bottom: 1px solid #e6e6e6;border-top: 20px solid #f6f6f6;background-color: #FFF;}
.analy-unit:first-child{margin-top:0;}
.analy-unit p,
.item.item-with-cont{padding:8px 16px;white-space: normal;}
.item-withrows .item-content{padding: 0 16px;}
/** start**/
.color-black-item-left,
.item-withrows .col-33{color:#000;}

.bottom-color-item{border-bottom-width:20px;border-color:#f6f6f6;}
/** end**/

#cpic_ui_box{
	display: block;
	width:100px;
	height:100px;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-transform: translateZ(0);
    -webkit-user-select: none;
    -webkit-user-drag: none;	
	position:fixed; 
	left:50%; 
	top:50%; 
	margin-top:-75px;
	margin-left:-75px;
	z-index:6000;
}
#cpic_ui_box2{
	width:102px;
	height:102px;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-transform: translateZ(0);
    -webkit-user-select: none;
    -webkit-user-drag: none;	
	position:fixed; 
	left:34%; 
	top:20%; 
	z-index:6000
}
#cpic_ui_box .cpic_ui_loading_img{
	float:left;
	width:150px;
	height:150px;
	vertical-align:middle;
	background:url('../img/loading300.gif') no-repeat 0 0;
	background-size:150px 150px;
}
#cpic_ui_box2 .cpic_ui_loading_img_blue{
	position: absolute;
	width:102px;
	height:102px;
	vertical-align:middle;
	background:url('../img/loading.png') no-repeat 0 0;
	background-size:102px 102px;
	left:0;
	-webkit-animation: change 0.8s linear infinite;
}
@-webkit-keyframes change{
	0%{-webkit-transform: rotate(0deg);}
	20%{-webkit-transform: rotate(72deg);}
	40%{-webkit-transform: rotate(144deg);}
	60%{-webkit-transform: rotate(216deg);}
	80%{-webkit-transform: rotate(288deg);}
	100%{-webkit-transform: rotate(360deg);}
}
<!--输入框内的未输入文字时的提示语颜色：#a9a9a9-->
.ng-valid::-moz-placeholder {
  color: #a9a9a9;
  opacity: 1;
}
.ng-valid:-ms-input-placeholder {
  color: #a9a9a9;
}
.ng-valid::-webkit-input-placeholder {
  color: #a9a9a9;
}
.ng-binding{
	Color:rgb(0,91,172);
}

/*非车险本月绩效*/
.fl{
	float:left;
	text-align:center;
	width:33%;
	border-right:2px solid #ddd;
	margin-top:30px;
	font-size:12px;
}
.fl30{
	width:30%;
}
.fl33{
	width:33%;
}
.fl37{
	width:37%;
}
.rfl{
	border-right:none;
}
.cont{
	margin-bottom:0px;
	width:100%;
	height:90px;
}
.white{
	background-color:#fff;
}
.gray{
	background-color:#F7F7F7;
}
.fl p{
	margin:0 auto;
	margin-top:-15px;
	height:40px;
	/* width:100px; */
	line-height: 0.82rem;
}
.fl span{
	color:#F5A100;
	font-size:14px;
}
.sw {
	width: 187px;
	height: 30px;
	text-align: center;
	position: absolute;
	top: 12px;
	left: 25%;
	z-index: 500;
	padding-right: 0;
	margin-left: 0;
}

.switch {
	width: 187px;
	height: 30px;
	box-shadow: #dddddd 0 0 0 0 inset;
	border-radius: 20px;
	background-clip: content-box;
	display: inline-block;
	-webkit-appearance: none;
	outline: none;
	position: relative;
	/* background: url(../img/tabs.png) no-repeat center; */
	background-color: #004481;
}

.switch .ischecked {
	padding: 0;
	margin: 0;
	text-align: center;
	line-height: 30px;
	color: #035DAD;
	width: 93px;
	height: 30px;
	position: relative;
	top: 0px;
	left: 0px;
	border-radius: 20px;
	background-color: #fff;
	/* transition: 5s; */
}
.switchhalf{
	width: 93px;
	height: 30px;
	padding:0;
	margin:0;
	float:left;
	/* transition:5s; */
}
input[type=radio] {
	display: none;
}

.switch span {
	position: relative;
}
.upDown{
	width:100px;
	height:60px;
	border:1px dashed #ddd;
	margin:10px auto;
}
.leftRight{
	width:60px;
	height:100px;
	border:1px dashed #ddd;
	float:left;
}
.scro li{
	float:left;
	width:25%;
	overflow:hidden;
}

/*无结果提示框*/
.noData{
	margin:30px auto;
	display:none;
	text-align:center;
	font-size:16px;
}

/*新增标签样式*/
.label-button{
	position:absolute;
	right:0px;
	top:15px;
	width:20px;
	height:20px;
}
.editCustom select{
	right:20px;
}
.editCustom .item-select:after{
	right:35px;
}
.labelCont .label-input{
	margin-right:25px;
}
.labelCont{
	width:100%;
	height:100%;
}
.labelCont .icon{
	position: absolute;
	right: 5px;
	z-index: 99;	
}
.notext{
	left: -9999px;
}
.backgroundtext{
	position: absolute;
	width: 50%;
	height: 100%;
	color: #127fdd;
	line-height: 30px;
}
.content{
	background-color: #fff;
	top: 53px;
	height: 100%;
}
/*报价清单*/
.quotationList .list-level2{
	padding-left:0;
	padding-right:0;
}
.quotationList .panel{ margin-bottom:0px;padding-bottom: 20px;  padding-left: 18px;}
.quotationList .list-level2 .list{
	padding: 0;
}
.quotationList .quotationNav{  
	text-align: center;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  background-color: white;}
.quotationList .quotationStatus{
	float: left;
	background-color: #E83344;
	color: white;
	width: 55px;
	height: 21px;
	text-align: center;
	border-radius: 3px;
	font-size: 12px;
	margin-right: 8%;
}
.quotationList .search-div{background-color: #f6f6f6;}
.quotationList .list-level2 .item{
	padding:0;
	margin:0;
	background-color: white;
	border:none;
	border-bottom: 1px solid #F9F9F9;
}
.quotationList .arrowDwnOrange{
	
	  background: url(../img/arrow-down-select.png) no-repeat right center;
  width: 10px;
  height: 30px;
  position: absolute;
  background-size: 10px 8px;
  top: 4px;
  text-align: center;
  margin-left: 5px;
	
}
.quotationList .list-level1 .item{
	background-color:white;
}
.quotationList .item .panel .panel-heading{
	background-color: inherit;
	padding: 3px 15px;
	border: none;
}
.quotationList .list-group{
	/* width: 88%; */
}
.quotationList .headingText{
	/* width: 80%; */
	font-size: 14px;
	font-weight: bold;
	color: #333;
	height: 30px;
	line-height: 32px;
}
.quotationList .icon-cust-edit{
	height: 17px;
	float: left;
	margin-top: -1px;
	margin-left: -22px;
}
::-webkit-scrollbar {
display: none;
}
.quotationList .list-group-item{
	padding: 4px 0px;
	font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #9d9d9d;
	width: 100%;
	border: none;
	background-color: transparent;
}
.quotationList .panel-heading + .list-group .list-group-item:first-child{
	/* border-top-width: 1px; */
}
.quotationList .item-list:first-child .panel{
	  margin-bottom: 0px;
  	padding-bottom: 20px;
}
.quotationList .item-list:last-child .panel{
	margin-bottom: 0px;
}
.quotationList .list-level1 .item-input{
	margin: 0;
}
.quotationList .list-group-item:first-child{
	border-top: 1px solid #DDD;
	font-weight: bold;
}
.quotationList .panel-point{
	position: absolute;
	top: calc(58% - 20px);
	right: 0.6em;
	font-size: 1.5em;
}
.quotationList .button-plus {
	width: 45px;
	height: 45px;
	border: 1px solid #009ddc;
	padding: 2px;
	border-radius: 50%;
	float: right;
	margin-top: 20px;
	margin-right: 6px;}

.quotationList .div-plus{
	height: 100px;
}
.quotationList .button-plus span {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #009ddc;
	border-radius: 50%;
	min-width: 39px;
	min-height: 39px;
	color: #FFF;
}
.quotationList .ion-bao-square{
	width: 18px;
	border: 1px solid green;
	text-indent: 5px;
	color: green;
	font-size: 12px;
	height: 19px;
	float: left;
	margin-top: -1px;
	margin-left: -18px;}
.quotationList .ion-bao-search{
	height: 30px;
  float: left;
  margin-top: -25px;
  margin-left: -30px;
  background-size: contain;
  width: 26px;
  font-size: 30px;
}
.ion-bao-square:before{
	content: "保";
	margin-left: -4px;
}
.quotationList .item-input input{
	color: #333;
}
.insuInFormation .scroll-content{
	position: static;
}
.quotationListStyle .currency{
	color:#F7B12F;
}
.item-input .text-div.clickableText{
	Color: rgb(0,91,172);
}
.item-input .text-div-icon{
	
}
.insuranceInformationTitleColor{color: #8c8c8c;}
.item .task-warring-li-number.iconplusNum{
	margin-top: 18px;
}
.item .task-warring-li-number {
	width: 1.1rem;
	height: 1rem;
	padding: 4px 1px;
	background-color: rgb(255, 20, 29);
	display: inline-block;
	min-width: 10px;
	font-size: 12px;
	line-height: 0.5;
	position: static;
	margin-top: -20px;
	margin-right: 2px;
	color: #FFF;
}
.glyphicon.searchEdit{
	font-size: 12px;
	color: #DBDBDD;
	margin-left: 4px;}
/* .list-level2{
	background-color: #f6f6f6;
} */
 .underTextDiv{
	vertical-align: middle;
	font-size: 14px;
	line-height: 16px;
	color: #8c8c8c;}
.insuInFormation  li.plusIcon{
	padding-bottom: 10px;
}
/* .insuInFormation .item-input .input-label{
	color: #333333;
	font-weight: 700;
	font-size: 15px;
	width: 39%;
}}  */
.insuranceList{margin-top: 20px;background-color: #fff;padding-top:20px;}
.insuranceTitle{text-align: center;color: black;font-weight: 700;background-color:#F4F4F4;}
.insuranceCheck{
background: url(../img/radio.png) no-repeat center;
	width: 18px;
	height: 34px;
	background-size: 17px;}
.insuranceRadioCheck{
	background: url(../img/radiocheck.png) no-repeat center;
	width: 18px;
	height: 34px;
	background-size: 17px;}

.insuranceColList{text-align: center;}
.button-bar1{margin-bottom: 10px;}
.insurancePaddinglist{padding-left:0px;padding-right:0px;}
.list.nopadding{
	padding-left:0px;padding-right:0px;
}
.input-label{margin-left: 0px;}
.insuranceCol{color:#514D4D;  font-size: 14px;}

.imageAcquisitionBg{background-color: #fff;}
.imageAcquisitionBg .imageTitle{padding-left: 20px;padding-bottom: 10px;padding-top: 10px;}
.imageAcquisitionBg .imageLeftIcon,.imageAcquisitionBg .imageContentIcon,.imageAcquisitionBg .imageRightIcon{float:left;}
.imageAcquisitionBg .imageContentIcon{width: 85%;background-color: red;}

.insuranceRemarks{width: 100%;background-color: #f6f6f6;margin-top: 15px;border-radius: 5px;
Color: rgb(0,91,172);}
/*附加条款*/
.insuInFormation .iconFloatleft{color:red;line-height:44px;float:left;padding-left:2px;}
.insuInFormation .iconRightText{
	line-height:44px;
	margin-left:25px;
	color: #333;
	width: 80%;
	}
.insuInFormation .iconRightText.noiconText{
	margin-left:0px;
}
.textAlignRight{
	text-align:right;
}
.textAlignCenter{
	text-align:center;
}
.textAlignLeft{
	text-align:left;
}
 .large-black-item{
	font-weight:100;
	font-size: 14px;
}
.insuInFormation .iconFloatRight{
	color: black;
	/* float: right; */
	font-size: 20px;
	line-height: 44px;}
.insuInFormation .textFloatLeft{
	float: left;
	color: #333;
	margin-left: 11px;}
.insuInFormation .iconRadioCheck{
	margin-left: -7px;
	margin-top: 5px;}
	
.leftarrow{
background: url(../img/yingxiang/leftarrow.png) no-repeat;
	width: 4%;
	height: 41px;
	float: left;
	margin-top: 19px;}
.rightarrow{
background: url(../img/yingxiang/rightarrow.png) no-repeat;
	width: 4%;
	float: right;
	height: 41px;
	margin-top: 19px;}
#div1{
width: 260px;
height: 60px;
position: relative;
margin: 0 auto;
overflow: hidden;
	}
#div1 ul{
position: absolute;
left: 0;
width: 200%;
height: 60px;
	}
#div1 ul li{
	height: 60px;
	margin-right: 10px;
	float: left;
	width:80px;
}
#idPartView{
width: 260px;
height: 60px;
position: relative;
margin: 0 auto;
overflow: hidden;
	}
#idPartView ul{
/* position: absolute; */
left: 0;
width: 200%;
height: 60px;
	}
#idPartView ul li{
	height: 60px;
margin-right: 10px;
float: left;
width: 80px;
/* display: block; */
}
/* #div2{
width: 320px;
height: 60px;
position: relative;
margin: 0 auto;
overflow: hidden;
	}
#div2 ul{
position: absolute;
left: 0;
width: 200%;
height: 60px;
	}
#div2 ul li{
	height: 60px;
	margin-right: 10px;
	float: left;
	width: 320px;
} */

.page-top{
	padding: 0;
	display: flex;
	margin: 30px 5px 20px 5px;
}
.big-page-top{
	padding: 0;
	display: flex;
	margin: 30px 5px 20px 5px;
}
#uploadFile{
	opacity:0;
}
/* .addPhoto{
	opacity:0;
} */
.display-block{
	display:block;
}
.display-none{
	display:none;
}
.iosArrowIcon{
	line-height: 40px;
font-size: 24px;}
	
.sliders img{
width: 80px;
height: 60px;
}

.uploadFilea{
	background: url(../img/upload-file.png) no-repeat;
	background-size: 80px 60px;}
.uploadFile{
	opacity: 0;
width: 100px;} 
.recover li{margin-top: 10px;}
.recover span{color: #575757;margin-left: 10px;}
.recover .ion-android-done{margin-right: 10px;color: green;}
.recover .recoverSmall{white-space: normal;
	margin-left: 25px;color:#A2A2A2;font-size: 10px;text-indent: 18px;}
.button-bar>.button.whiteBg-blackText{
	background-color: white;
color: black;
	}
.item-content{
	
}
.checkBoxItemList{
	text-align: left;
margin-left: 20px;
}
.quotationListStyle .input-label{
	width:auto;
}
.principalClauseList .list-level2 .item {
background-color: white;
border: 1px solid #f7f7f7;
}
.shadeContent {
	margin-top: 80px;
  	margin-bottom: 20px;
	width: 90%;
  	margin-left: 5%;
  	margin-right: 5%;
	background-color: rgb(255, 255, 255);
	overflow-y: scroll;}
.shadeBtn{
	width: 40%;
	text-align: center;
	margin-left: 25%;
	margin-right: 30%;
	color: #247DBF;
	font-weight: 700;
}
.shadeLeftTitle{
	font-weight: bold;
  	color: #333;
  	font-size: 16px;
  	text-align: left;
}
.shadeRightContent{
	color: #9d9d9d;
  	text-align: right;
  	font-size: 14px;	
  	overflow-x: scroll;
}
.principalClauseList .item-radio .item-content{
	margin: 0;
	padding: 0;
}
.shadeDiv{
	position: fixed;
  	z-index: 999;
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 9999;
    overflow-y: scroll;
}
.shadeContent .item{
	  padding: 5px 0px 5px 0px;
}
.additionalTopInformation .item{
	height:50px;
}
.additionalTopInformation .additionalCheck {
	background: url(../img/radio.png) no-repeat center;
	float: right;
	background-size: 17px;}
.additionalTopInformation .additionalRadioCheck {
	background: url(../img/radiocheck.png) no-repeat center;
  	float: right;
	background-size: 17px;
}
/* .additionalTopInformation .additionalLeftTitle{
	color: #333333;
  font-weight: 700;
  font-size:  16px;;
} */
/* .additionalRemarksDiv{
	margin-left: 20px;
  margin-right: 20px;
} */
.additionalRemarkTextarea {
	background-color: #FAFAFA;
	width: 90%;
	border-radius: 5px;
	Color: rgb(0, 91, 172);
	margin-left: 10px;
}
.additionalBottomInformation{
	background-color: white;
	padding-bottom: 20px;
}
.additionalBottomTitle {
	color: #333;
	font-size: 16px;
	padding-bottom: 15px;
	padding-top: 15px;
	font-weight: 700;}
.additionalMore{
	font-size: 30px;
  text-align: center;
}



.propertyInformationList .propertyInformationTitle{color: #333333;font-weight: 700;font-size: 16px;}
.propertyInformationList .currency{color: #F7B12F;}
.propertyInformationRemarks{color: #9d9d9d;font-size: 16px;  margin-left: 20px;margin-right: 20px;}
.item .panel.height-60{
	height: 60px;
line-height: 60px;
}
.margin-left-10{
	margin-left:10px;
}
.margin-left-10-border{
	margin-left:10px;
	margin-right:10px;
	border-bottom: 1px solid #f7f7f7;
}
.margin-left-6{
	margin-left:6%;
}
.float-left-width{
	width:80%;float: left;
}
.margin-bottom-0{
	margin-bottom: 0;
}
.list .item:last-child.borderBottomF7{
	border-bottom: 1px solid #f7f7f7;
}
.reportDiv{display: inline-flex;}
.reportDiv .label-input{text-align: right;width: 90%;}
.reportDiv .ion-ios-search{font-size: 20px;padding-top: 10px;}
.allArrowDwnOrange{  background: url(../img/arrow-down-select.png) no-repeat right center;
  width: 10px;
  height: 30px;
  position: absolute;
  background-size: 8px 6.4px;
  margin-left: 5px;
  margin-top: -5px;
 }
  .allLastTime{  
  text-align: right;
  padding-right: 20px;
  }
  .reviewCommentsName{margin-top: 55px;}
  .insuInFormation .reportBorder{margin-top:0px;}
  .insuranceArrowRight{  color: black;
  float: right;
  font-size: 20px;}
  .item.paddingLeft0{
  padding-left:0px;
  }
  .marginRight6 {
margin-right: 4%;
	float: right;
	font-size: 26px;
	color: #C0C0C0;
	margin-top: -5px;}

.additionalRadioCheck{  
	background: url(../img/radiocheck.png) no-repeat center;
  	width: 30px;
  	height: 30px;
  	float: left;
  	margin-right: -4%;
  	margin-left: -30px;
}
.additionalCheck{
    background: url(../img/radio.png) no-repeat center;
  	width: 30px;
  	height: 30px;
  	float: left;
  	margin-right: -4%;
  	margin-left: -30px;
}
.additionalDiv{
  	position: fixed;
  	z-index: 999;
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	background-color: rgba(0,0,0,0.5);
  	display: none;
  	overflow-y: scroll;
}
.additionalContent{
    margin-top: 80px;
	margin-bottom: 20px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: rgb(255, 255, 255);
	overflow-y: scroll;
	height: 82%;}
.additionalDiv .additionalCheckTitle{
    color: #333333;
  	font-weight: 700;
  	font-size: 16px;
 	text-align: left;
}
.additionalBottomTitle.marginLeft25{
	margin-left:25px;
}
.additionalBottomTitle.marginLeft10{
	margin-left:10px;
}
.checkbox input, .checkbox-icon {
	position: relative;
	width: 17px;
	height: 17px;
	display: block;
	border: 0;
	background: 0 0;
	cursor: pointer;
	margin-top: 8px;
	-webkit-appearance: none;
}
.checkbox input:checked+.checkbox-icon:before, .checkbox input:checked:before{
	background: #66B520;
	border-color: #66B520;
}
.checkbox input:checked+:after, input:checked+.checkbox-icon:after{
	top: 16%;
}
 .item .itemtext{
	color: #333;
	font-size: 14px;}

.item .itemTitle {
	color: #333;
	font-size: 16px;
	font-weight: 700;
}

/* .ng-binding {
	font-size: 8px;
} */

.remarkTitle {
	color: #333;
	font-size: 16px;
	padding-bottom: 15px;
	padding-top: 15px;
	font-weight: 700;
}
.icon.ios-arrow{
	font-size: 26px;
color: #C0C0C0;
margin-top: -5px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.item.bordernone{
	border:none;
}
.additionalBottomInformation textarea[readonly]{
	background-color: #FAFAFA;
}
textarea[readonly].insuranceRemarks{background-color: #FAFAFA;
}
.color9d.ion-ios-arrow-right:before{
	color: #9d9d9d;
}
/* .item-input input[readonly]:not(.cloned-text-input).textcolor9d{
	color: #9d9d9d;
} */
.searchbar.has-icon-right .item-input-wrapper.bcwhite{
	background-color:white;
}
.searchbar .search-div .item-input-wrapper input.bcwhite{
	background-color:white;
}
.lineScratcher{
	position: absolute;
	width: 80%;
	left: 10%;
	margin-top: 40px;
	height: 40px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;}
.input-label{
	width: auto;
}
.marginleft5{
	margin-left:5%;
}
.businessNature .list{
	padding-left:0px;
	padding-right:0px;
}
.businessNature.list-spacing .item{
	padding: 0px;
	margin-top:0px;
}
/* .businessNature.list-spacing .radio-icon{
	margin-top: -12px;
} */
/* .businessNature .col.ng-binding{
	font-size:8px;
}
.principalradio .ng-binding{
	font-size:8px;
} */
.quotationList .ion-xu-square {
	width: 18px;
	border: 1px solid green;
	text-indent: 5px;
	color: green;
	font-size: 12px;
	height: 20px;
	float: left;
	margin-top: -1px;
	margin-left: -18px;}
.ion-xu-square:before {
content: "续";
margin-left: -4px;
}
.item-radio .radio-icon{
	padding: 0px;
}
.additionalContent.bgct{
	background-color: transparent;
}
#div2 {
width: 320px;
height: 300px;
position: relative;
margin: 0 auto;
overflow: hidden;
}
#div2 ul {
position: absolute;
left: 0;
width: 200%;
height: 300px;
}
#div2 ul li {
height: 300px;
margin-right: 10px;
float: left;
width: 320px;
}
.bigsliders img{
width: 320px;
height:300px;
}	
.bigImgDiv{
  	position: fixed;
  	z-index: 999;
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	background-color: rgba(0,0,0,0.5);
  	display: none;
  	overflow-y: scroll;
}
.bigImgDiv .additionalContent{
	width: 100%;
	background-color:white;
	overflow-y: scroll;
	height: 100%;
	margin-top: 0px;
	margin-left: 0px;
}
.bigImgDiv .iosArrowIcon{
	margin-top: 30%
}
.recover .recoverSmall textarea{
	width: 100%;
	height: 200%;
	border-radius: 5px;
	background-color: #FAFAFA;
	color: black;}
.button.button-assertive+.button.button-calm{
	background-color: #F0F0F0;
	margin-left: -6%;}
.item.item-checkbox{
	padding: 12px;
}
.item-content .ng-binding{
	color:black;
}
.additionalTopInformation .additionalCheck.floatleftcheckbox{
	float: left;
	margin-left: 5%;
}
.additionalTopInformation .additionalRadioCheck.floatleftcheckbox{
	float: left;
	margin-left: 5%;
}
.item .itemTitle.marginleft50{
	margin-left:-50px;
}
.item-input.paddingleft0{
	padding-left:0px;
}
.item-input input.zhaowa{
	text-align: right;
	color: #005bac;
	padding-right: 0;
	overflow-x: scroll;
	-webkit-flex: 1 135px;
	-moz-box-flex: 1;
	-moz-flex: 1 135px;
	-ms-flex: 1 135px;
	flex: 1 135px;}
.margin-left-3 {
margin-left: 3%;
}
.col3{
	-webkit-box-flex: 3;
	-webkit-flex: 3;
	-moz-box-flex: 3;
	-moz-flex: 3;
	-ms-flex: 3;
	flex: 3;
	display: block;
	padding: 5px;
	width: 100%;}
.padding-less.paddingleftright0 .list{
	padding-left:0px;
	padding-right:0px;
}
.item.paddingleftright0{
	padding-left:0px;
	padding-right:0px;
}
.insuranceCol{
	white-space: normal;
}
.bar.bar-positive{
	background-color: #005bac !important;
}
.bar.bar-header{
	top:0;
	width: 100%;
	height: 52px;  
	line-height: 52px;}

.fontsize14 {
	font-size: 14px;
}
.tabBox{
	height:44px;
	background:white;
}
.tabBox a{
	color: black;
	text-align: center;
	float: left;
	height: 42px;
	display: inline-block;
	width: 50%;
	text-decoration: none;
	line-height: 42px;
	font-size: 15px;
	/* font-family: "microsoft yahei"; */
	/* font-weight: 700; */
	}
.tabActive{
	/* color:#005bac !important; */
	border-bottom:1px solid #005bac;
}
.item-input{
	padding: 6px 0px 5px 16px;
}
.searchBox{
	background:#f6f6f6;
	width:100%;padding:0.5em 0;z-index:100;height:3.2em;
	}
 .search-input{background: #ffffff;
position: relative;
margin-left: 3%;
height: 34px;
display: inline-block;
border: 1px solid #ccc;
width: 90%;
border-radius: 5px;
}
.search-input i{
	position:absolute;top:5px;left:8px;display:inline-block;width:20px;
	/* height:20px;background:url(../../images/icon-search.png) no-repeat left center; */
	background-size:70% 70%;
}
.search-input input{
	background: #ffffff;
	width: 80%;
	font-size: 0.8em;
	border: none;
	height: 30px;
	line-height: 30px;
	margin-left: 26px;}
/* .arrow-down-orange2{
	background: url(../img/arrow-down-select.png) no-repeat left center;
width: 0.8em;
height: 0.8em;
background-size: 7px 5px;
position: absolute;
margin-top: 4px;
margin-left: 6px;

}  */


.prenextarrow.ion-ios-arrow-left:before{
	content: "\f3d2";
	text-align: center;
	/* margin-top: 28%; */
	margin-left: 40%;}
.prenextarrow.ion-ios-arrow-right:before{
	content: "\f3d3";
	text-align: center;
	/* margin-top: 28%; */
	margin-left: 40%;}
.button-icon.icon.ion-home:before{
	font-size: 24px;
	color: white;
}
.item.clickmore{
	color: #575757;
    background-position-x: 96%;
    padding: .8em 4%;
    border-top: 1px solid #f7f7f7;
    text-align: center;
    background-color: rgb(246,246,246);
    font-size: 16px;
    border:none;
}
#noCarFootPrint .scroll{
	height:100%;
} 
#noCarFootPrint .scroll div{
	height:100%;
}

.immeprotectstyle .scroll{
	height:100%;
}
.nopadding .list{
	padding-left:0px;
	padding-right:0px;
}
.nopadding .list ion-item{
	padding-left:0px;
	padding-right:0px;
}
.item-input .text-div.cutLength{
	color: #9d9d9d;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.cutLength {
	color: #9d9d9d;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;}
.overflowxscroll{
	color: #9d9d9d;
	overflow-x:scroll;
}
.col-5 {
-webkit-box-flex: 0;
-webkit-flex: 0 0 5%;
-moz-box-flex: 0;
-moz-flex: 0 0 5%;
-ms-flex: 0 0 5%;
flex: 0 0 5%;
max-width: 5%;
/* background-color:yellow; */
}
.col-65 {
-webkit-box-flex: 0;
-webkit-flex: 0 0 65%;
-moz-box-flex: 0;
-moz-flex: 0 0 65%;
-ms-flex: 0 0 65%;
flex: 0 0 65%;
max-width: 65%;
/* background-color:green;  */
}
.col-70 {
-webkit-box-flex: 0;
-webkit-flex: 0 0 70%;
-moz-box-flex: 0;
-moz-flex: 0 0 70%;
-ms-flex: 0 0 70%;
flex: 0 0 70%;
max-width: 70%;
/* background-color:green;  */
}
.col-30 {
-webkit-box-flex: 0;
-webkit-flex: 0 0 30%;
-moz-box-flex: 0;
-moz-flex: 0 0 30%;
-ms-flex: 0 0 30%;
flex: 0 0 30%;
max-width: 30%;
/* background-color:blue; */
}
.ion-xu-square:after{
	
}
.initialReturnPage{
	display:none;
}
/*移植手机端代码bug修改*/
.leftScroll {
overflow-x: scroll;
margin: 0;
padding: 0;
white-space: nowrap;
width: 40%;
text-align: left;
float: left;
}
.item-input{
	display: -moz-box;
	display: -webkit-box;
	display: box;}
.quotationList .ion-wait-square {
height: 17px;
float: left;
margin-top: -1px;
margin-left: -22px;
background: url("../img/waitcai.jpg") no-repeat center center;
width: 26px;
background-size: 80%;
}
ion-content{
top:52px;	
}
.has-header{
top:52px;}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
height: 52px;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)>* {
margin-top: 0px;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-subheader, .platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .tabs-top>.tabs, .platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top{
	top: 52px;
}
.platform-android.platform-cordova:not(.fullscreen) .bar-subheader, .platform-android.platform-cordova:not(.fullscreen) .has-header, .platform-android.platform-cordova:not(.fullscreen) .tabs-top>.tabs, .platform-android.platform-cordova:not(.fullscreen) .tabs.tabs-top{
	top: 52px;
}
.bar .title {
height: 52px;
line-height:52px;
}
.platform-android .bar .title {
font-size: 19px;
line-height: 52px;
}
