
/*mytask xiaocssstart*/
.color-orage {
color: orange;
}
.glyphicon-plus-sign:before {
	color: orange;
}

.input-group .form-control {
	border: 1px solid #ccc;
	padding: 6px 12px;
}
.modal-body{
	font-size: 16px;
}
.select .caret:after, .check-div .caret:after {
	border: none;
	line-height: 40px;
	z-index: 2;
	position: absolute;
	right: 16px;
	margin-top: 6%;
	width: 0;
	height: 0;
	border-top: 5px solid;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	color: #999;
	content: "";
	pointer-events: none;
}

.select .caret, .check-div .caret {
	display: block;
	margin-left: 0;
	border: none;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: transparent;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-group textarea {
	width: 100% !important;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 2;
	background-color: transparent;
	border: 1px solid #ccc;
}

.full-width {
	width: 100% !important;
}
.auto-complate-menu {
	position: absolute;
	top: 34px;
	left: 0;
	width: 100%;
	background-color: #f5f5f5;
	list-style: none;
	z-index: 10;
	border-radius: 4px;
	border: 1px solid #e3e3e3;
	max-height: 50vh;
	overflow-y: scroll;
}

.auto-complate-menu li {
	display: block;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
	width: 100%;
}

.auto-complate-menu li a {
	display: block;
	padding: 10px 15px;
	width: 100%;
}
 dialog .modal-dialog {
width: 96%;
margin: 2%;
}
.half-width {
width: 50%;
display: inline-block;
float: left;
text-align: center;
}
.modal-dialog {
position: absolute;
margin: 0;
width: 100%;
max-height: 100%;
/* overflow: auto;  */
width: 96%;
margin: 2%;
z-index: 9999999;
margin-top: 70%;
}
.taskBusinessPage .modal-dialog{
	
}
#taskAddCustPage .modal-dialog{
	overflow: auto;
}
.modal-content .confirm-ok {
color: #005BAC;
}
dialog .confirm-ok {
padding: 15px 0;
}
.modal-content .confirm-no {
color: #005BAC;
}
#modal-dialog{
	z-index: 9999999;
	margin-top: 50%;
}
.modal-backdrop.in{
	display: block;
z-index: 9999;
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: #000;
filter: alpha(Opacity=50);
-moz-opacity: 0.5;
opacity: 0.5;
}
.dropdown-menu{
	margin: 35px 0 0;
	width: 100%;
max-height: 32vh;
overflow-y: scroll;
}
.modal{
	display:none;
}
.modal-body{
	padding: 0;
}
input[type=text].form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-group div[class*="col-xs"] {
padding-left: 0;
padding-right: 15px;
}
.container-fluid{
	padding-right: 5px;
padding-left: 5px;
}
input[type=date].form-control,input[type=number].form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.select .dropdown-menu li.checked, .check-div .check-menu li.checked {
background-color: #e3e3e3;
}
.check-div .check-menu{
	position: absolute;
top: 100%;
left: 0;
display: none;
z-index: 1000;
float: left;
min-width: 160px;
padding: 5px 0;
margin: 2px 0 0;
font-size: 14px;
text-align: left;
list-style: none;
background-color: #fff;
-webkit-background-clip: padding-box;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, .15);
border-radius: 4px;
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
/* .form-group div[class*="col-xs"] {
padding-left: 0;
padding-right: 0px;
} */
.open > .check-menu {
display: block;
}
.select .dropdown-menu, .check-div .check-menu {
width: 100%;
max-height: 32vh;
overflow-y: scroll;
}
.check-div .check-menu > li > a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 1.42857143;
color: #333;
white-space: nowrap;
}
.icon-group {
padding-left: 15px;
padding-right: 15px;
}
.icon-btn {
display: inline-block;
margin-right: .6em;
margin-top: .5em;
}
.icon-btn .glyphicon {
color: #005BAC;
font-size: 1.4em;
border-radius: 50%;
border: 1px solid #005BAC;
padding: .2em;
margin-right: .2em;
}
.select .form-control[disabled], .select .form-control[readonly], .select fieldset[disabled] .form-control, .check-div .form-control[disabled], .check-div .form-control[readonly], .check-div fieldset[disabled] .form-control {
background-color: #fff;
}
.unit-title {
padding: 10px 15px;
border-bottom: 1px solid transparent;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
position: relative;
width: 100%;
}
.onoff-switch {
margin-bottom: 0;
float: right;
}
html * {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
padding: 0;
margin: 0;
}
.mui-switch:before {
content: '';
width: 24px;
height: 24px;
position: absolute;
top: 0;
left: 0;
border-radius: 20px;
background-color: #FFF;
box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}
.mui-switch {
width: 46px;
height: 26px;
position: relative;
border: 1px solid #dfdfdf;
background-color: #fdfdfd;
box-shadow: #dfdfdf 0 0 0 0 inset;
border-radius: 20px;
background-clip: content-box;
display: inline-block;
-webkit-appearance: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
outline: none !important;
}
.mui-switch:checked {
border-color: #64bd63;
box-shadow: #64bd63 0 0 0 16px inset;
background-color: #64bd63;
}
.mui-switch:checked:before {
left: 21px;
}
.unit-title .jump-button {
position: absolute;
right: 1em;
top: 3.5px;
}
.form-group, .list-group {
margin-bottom: 10px;
}
#taskcreate_ul_zjemp {
padding-left: 0;
}
.button-group .half-width, .button-group .full-width {
padding-left: 6%;
padding-right: 6%;
margin-bottom: 10px;
}
.row .button-group.clearfix{
	width: 100%;
}
.row+.row{
	margin-top:0px;
}
.check-div .caret:after{
	right: 29px;
}
.col-xs-12 {
width: 100%;
}
.modal-content.modal-content-page{
	-webkit-box-shadow: none;
box-shadow: none;
border: none;
}
.modal-content-page .modal-footer{
	border-bottom: 1px solid #fff;
	margin-top: 0px;
}
/*.platform-ios .modal-content-page input[type=datetime-local]{
	border: 1px solid #ccc;
color: #555;
margin-bottom: 10px;
}*/
.platform-ios .modal-content-page input[type=datetime-local]:last-child{
	margin-bottom: 0px;
}
#confirm-dialog .modal-body{
	padding: 20px;
}
#confirm-dialog .modal-header h4 {
padding: 13px;
font-size: 18px;
line-height: 20px;
margin: 0;
font-weight: bold;
color: inherit;
}
#confirm-dialog .modal-header {
height: 44px;
width: 100%;
text-align: center;
font-weight: bold;
background-color: #005BAC;
border-color: #005BAC;
color: #FFF;
padding: 0;
}
#popup-dialog .modal-body{
	padding: 20px;
}
#popup-dialog .modal-header h4 {
	height: 52px;
	line-height: 52px;
	font-size: 1.36em;
	color: #fff;}
#popup-dialog .modal-header {
height: 52px;
width: 100%;
text-align: center;
font-weight: bold;
background-color: #005BAC;
border-color: #005BAC;
color: #FFF;
padding: 0;
}
.modal-footer {
padding: 15px;
text-align: right;
border-top: 1px solid #e5e5e5;
margin-top: 0px;
}
#confirm-dialog .modal-body {
padding: 15px;
}
#popup-dialog .modal-body {
padding: 15px;
}
.mt10 {
margin-top: 10px !important;
}
#alert-dialog .modal-body {
padding: 15px;
}
#alert-dialog{
	margin-top: 12%;
}
#alert-dialog .modal-footer {
text-align: center;
color: #005BAC;
font-weight: bold;
}
.alert-modal-backdrop{
	display: block;
z-index: 9999;
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: #000;
filter: alpha(Opacity=50);
-moz-opacity: 0.5;
opacity: 0.5;
}
.confirm-modal-backdrop{
	display: block;
z-index: 9999;
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: #000;
filter: alpha(Opacity=50);
-moz-opacity: 0.5;
opacity: 0.5;
}
.popup-modal-backdrop{
	display: block;
z-index: 9999;
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: #000;
filter: alpha(Opacity=50);
-moz-opacity: 0.5;
opacity: 0.5;
}
.addCust .select .caret:after,.taskSupport  .select .caret:after{
	margin-top: -9%;
}
.taskBusiness .select .caret:after{
	margin-top: -6%;
}
#popup-dialog .dropdown-menu{
	margin: 2px 0 0;
}
#popup-dialog .form-group{
	margin-bottom: 10px;
}
#popup-dialog .modal-body {
padding: 0px;
/* padding-left: 15px; */
}
#popup-dialog .mt10{
	margin-top: 0px !important;
}
.taskCreateAddCust .select .caret:after,.taskCreateAddCust .check-div .caret:after{
	margin-top: -9%;
}
/*mytask xiaocssend*/
/*yuyaozu start*/
/*taskDetailManyContent*/
.taskDetailManyContent{
	  overflow-y: scroll;
}
.taskDetailManyContent .detail-list{
	padding-left:0px;
}
.taskDetailManyContent .detail-list.list-group .list-group-item {
  vertical-align: top;
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
  padding: 6px 15px;
}
.taskDetailManyContent .col-xs-12{
	  background-color: #F9F9F9;
	  padding:0px;
}
.taskDetailManyContent .list-group-item .text {
  color: #888;
}
.taskDetailManyContent .icon-btn {
  display: inline-block;
  margin-right: .6em;
  margin-top: .5em;
}
.taskDetailManyContent .icon-btn .glyphicon {
  color: #005BAC;
  font-size: 1.4em;
  border-radius: 50%;
  border: 1px solid #005BAC;
  padding: .2em;
  margin-right: .2em;
}
.taskDetailManyContent .img-scrolling {
  display: inline-block;
  width: 80%;
  overflow-x: scroll;
}
.taskDetailManyContent .img-scrolling .img-scrolling-content {
  display: inline-block;
  white-space: nowrap;
}
.taskDetailManyContent .img-scrolling .img-scrolling-content img {
  max-height: 6em;
  margin-right: 4px;
}
.taskDetailManyContent .button-group .half-width, .button-group .full-width {
  padding-left: 6%;
  padding-right: 6%;
  margin-bottom: 10px;
}
.taskDetailManyContent .full-width {
  width: 100% !important;
}
.taskDetailManySubmit{
	width:100%;
}
.taskDetailManyContent .list-group-item .collapse-toggle {
  	position: absolute;
	right: 10px;
	top: 10px;
}
.taskDetailManyContent .detail-list.list-group .list-group-item ul {
  margin-top: 10px;
}
.taskDetailManyContent .detail-list.list-group .list-group-item ul .list-group-item {
  padding-left: 0;
  border: 0;
}
.taskDetailManyContent textarea{
	  font: inherit;
  color: inherit;
  border-color: rgb(169, 169, 169);
  background-color: white;
  border: 1px solid;
  display: inline-block;
}
/*taskDetailSingleContent*/
.taskDetailSingleContent{
	  overflow-y: scroll;
}
.taskDetailSingleContent .detail-list{
	padding-left:0px;
}
.taskDetailSingleContent .detail-list.list-group .list-group-item {
  vertical-align: top;
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
  padding: 6px 15px;
}
.taskDetailSingleContent .col-xs-12{
	  background-color: #F9F9F9;
}
.taskDetailSingleContent .list-group-item .text {
  color: #888;
}
.list-group-item .text{
	color: #888;
}
.taskDetailSingleContent .icon-btn {
  display: inline-block;
  margin-right: .6em;
  margin-top: .5em;
}
.taskDetailSingleContent .icon-btn .glyphicon {
  color: #005BAC;
  font-size: 1.4em;
  border-radius: 50%;
  border: 1px solid #005BAC;
  padding: .2em;
  margin-right: .2em;
}
.taskDetailSingleContent .img-scrolling {
  display: inline-block;
  width: 80%;
  overflow-x: scroll;
}
.taskDetailSingleContent .img-scrolling .img-scrolling-content {
  display: inline-block;
  white-space: nowrap;
}
.taskDetailSingleContent .img-scrolling .img-scrolling-content img {
  max-height: 6em;
  margin-right: 4px;
}
.taskDetailSingleContent .button-group .half-width, .button-group .full-width {
  padding-left: 6%;
  padding-right: 6%;
  margin-bottom: 10px;
}
.taskDetailSingleContent .full-width {
  width: 100% !important;
}
.taskDetailManySubmit{
	width:100%;
}
.taskDetailSingleContent .list-group-item .collapse-toggle {
  position: absolute;
  right: 10px;
  top: 10px;
}
.taskDetailSingleContent .detail-list.list-group .list-group-item ul {
  margin-top: 10px;
}
.taskDetailSingleContent .detail-list.list-group .list-group-item ul .list-group-item {
  padding-left: 0;
  border: 0;
}
.taskDetailSingleContent textarea{
	  font: inherit;
  color: inherit;
  border-color: rgb(169, 169, 169);
  background-color: white;
  border: 2px inset;
  display: inline-block;
}
/*taskKqjlManyContent*/
.taskKqjlManyContent{
	  overflow-y: scroll;
}
.taskKqjlManyContent .detail-list{
	padding-left:0px;
}
.taskKqjlManyContent .detail-list.list-group .list-group-item {
  vertical-align: top;
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
  padding: 6px 15px;
}
.taskKqjlManyContent .col-xs-12{
	  background-color: #F9F9F9;
}
.taskKqjlManyContent .list-group-item .text {
  color: #888;
}
.taskKqjlManyContent .icon-btn {
  display: inline-block;
  margin-right: .6em;
  margin-top: .5em;
}
.taskKqjlManyContent .icon-btn .glyphicon {
  color: #005BAC;
  font-size: 1.4em;
  border-radius: 50%;
  border: 1px solid #005BAC;
  padding: .2em;
  margin-right: .2em;
}
.taskKqjlManyContent .img-scrolling {
  display: inline-block;
  width: 80%;
  overflow-x: scroll;
}
.taskKqjlManyContent .img-scrolling .img-scrolling-content {
  display: inline-block;
  white-space: nowrap;
}
.taskKqjlManyContent .img-scrolling .img-scrolling-content img {
  max-height: 6em;
  margin-right: 4px;
}
.taskKqjlManyContent .button-group .half-width, .button-group .full-width {
  padding-left: 6%;
  padding-right: 6%;
  margin-bottom: 10px;
}
.taskKqjlManyContent .full-width {
  width: 100% !important;
}
.taskDetailManySubmit{
	width:100%;
}
.taskKqjlManyContent .list-group-item .collapse-toggle {
  position: absolute;
  right: 10px;
  top: 10px;
}
.taskKqjlManyContent .detail-list.list-group .list-group-item ul {
  margin-top: 10px;
}
.taskKqjlManyContent .detail-list.list-group .list-group-item ul .list-group-item {
  padding-left: 0;
  border: 0;
}
.taskKqjlManyContent textarea{
	  font: inherit;
  color: inherit;
  border-color: rgb(169, 169, 169);
  background-color: white;
  border: 1px solid;
  display: inline-block;
}
/*yuyaozu end*/
.modal-dialog.addCust{
	overflow-x: inherit;
	margin: 0px;
	width: 100%;}
.modal-dialog.taskSupport{
	overflow-x: inherit;
	margin: 0px;
	width: 100%;
}

#popup-dialog .modal-header .modal-header-goback{
	width: 10%;
height: 100%;
float: left;}
#popup-dialog .modal-header .modal-header-goback button{
	width: 100%;
color: #fff;
text-align: left;
padding-left: 40%;
margin-top: 10%;}
#popup-dialog .modal-header .modal-header-title{
	/* width: 100%;
	height: 100%; */
	text-align: center;
}
.popup-modal-backdrop.taskSupport-backdrop{
	background-color: #fff;
opacity: 0;
}
.popup-modal-backdrop.taskAddCust-backdrop{
	background-color: #fff;
opacity: 0;
}
.collapse-toggle::before {
	float: right;
	position: relative;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	content: "\e114";
	color: #005BAC;
}

form.paddingLR15{
	padding-right: 15px;
padding-left: 15px;
}
.taskIndexContent .mt10{
	padding-top:0px !important;
}
.taskIndexContent .panel .panel-heading{
	font-size: 16px;
font-weight: bold;
background-color: #FFF;
border: none;
word-wrap: break-word;
}
.taskIndexContent .col-xs-12{
	padding-left:0px;
	padding-right:0px;
}
.taskIndexContent .panel-heading{
	padding: 10px 15px;
border-bottom: 1px solid transparent;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}
.taskIndexContent .panel > .list-group{
	width: 88%;
}
.taskIndexContent .panel .panel-point{
	position: absolute;
top: calc(50% - 20px);
right: .15em;
font-size: 2em;
color: #666;
}
.taskIndexContent .list-group-item{
	border:none;
	padding: 4px 15px;
}
.taskIndexContent .panel-heading + .list-group .list-group-item:first-child {
border-top: 1px solid #DDD;
}
.taskIndexContent .dropdown-menu{
	margin: 2px 0 0;
}
.taskIndexContent.has-header.has-navbar{
	top: 55px;
}
.taskIndexNavBar{
	position:relative;
	z-index:10;
	background-color: #fff;
}
div_task_head {
height: 35px;
}
.bt-tab.active {
background-color: transparent;
color: #005BAC;
border-bottom: 2px solid #005BAC;
}
#div_task_head .custom {
height: 35px;
padding-top: 2%;
text-align: center;
}
.bt-tab{
	color: #666;
font-weight: 700;
}
.taskIndexIonview .header-item,.taskIndexIonview .ion-ios-gear{
	color:#fff;
}
.taskIndexContent .view-more{
background-color: #F9F9F9;
padding-bottom: 1em;}
.taskIndexContent .select .caret:after,.taskIndexContent .check-div .caret:after{
	margin-top: -10%;
}
.taskDetailSingleContent #time_consume{
	border: 2px inset;
height: 30px;
padding: 5px 10px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
width: 6em;
margin: 0;
background-color: white;
display: inline-block;
}
.z-index--10{
	z-index:-10;
}
[nav-bar-transition=ios] [nav-bar=entering].z-index--10, [nav-bar-transition=ios] [nav-bar=active].z-index--10{
	z-index:-10;
}
.collapse-toggle.collapsed::before{
	content: "\e080";
	color: #2a6496;
}
.collapse-toggle::before{
	content: "\e114";
	color: #2a6496;
}
.refuse-modal-backdrop{
	display: block;
	z-index: 9999;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
	filter: alpha(Opacity = 50);
	-moz-opacity: 0.5;
	opacity: 0.5;}
	.taskAddressPage{
	display:none;}
	.taskBusinessPage{
	display:none;}
	.divRefuseModal{
	display:none;}
	.rating-cont .rt-row textarea {
border-radius: 4px;
padding: 4px;
vertical-align: top;
}
.rating-cont .list-group {
padding: 0 15px;
width: 100%;
}
.rating-cont .panel .panel-heading {
background-color: #f5f5f5;
color: #005bac;
padding: 4px 15px;
font-size: 16px;
font-weight: bold;
}
#ratingModal .container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

#ratingModal .panel.panel-default {
	border: none;
}

#ratingModal .panel-heading {
	border: none;
}

.rating-cont .list-group .list-group-item {
	font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}

.rating-cont .rt-row textarea {
	border-radius: 4px;
	padding: 4px;
	vertical-align: top;
	border: 1px solid rgb(169, 169, 169);
	margin: 0;
	display: inline-block;
	font: inherit;
}
rating.nostar li a, .rating li a {
width: 15px;
height: 15px;
background: url(../image/star_default.gif) no-repeat left center;
display: inline-block;
}
.rating.nostar li, .rating li {
width: 1.1rem;
float: left;
list-style: none;
}
.rating-cont .rating {
vertical-align: middle;
display: inline-block;
}
.rating-cont .rt-row {
padding: 4px 0;
}
.rating.allstar li a, .rating.onestar .one a, .rating.twostar .one a, .rating.twostar .two a, .rating.threestar .one a, .rating.threestar .two a, .rating.threestar .three a, .rating.fourstar .one a, .rating.fourstar .two a, .rating.fourstar .three a, .rating.fourstar .four a, .rating.fivestar .one a, .rating.fivestar .two a, .rating.fivestar .three a, .rating.fivestar .four a, .rating.fivestar .five a{
	background: url(../image/star_on.gif) no-repeat left center;
display: inline-block;
}
#ratingModal .modal-dialog {
overflow: auto;
}
#ratingModal .modal-content{
	overflow: scroll;
margin-top: 54px;
border: none;
}
#ratingModal .header{
	position: fixed;
width: 100%;
z-index: 9;
}
#ratingModal .modal-header{
	position: fixed;
}
.rating {
display: inline-block;
}
.taskDetailManyContent .detail-list.list-group .list-group-item ul.rating{
	margin-top:0px;
}
.quotationionviewStyle ion-header-bar.bar .title{
	color: #fff;
}
.quotationList-ion-list .list{
	margin-top: 90px;
}
/* ion-header-bar.bar .buttons.buttons-left button{
	padding: 0 35px;
	margin-left: -30%;
} */
#taskcreate_input_start{
border: 1px solid #ccc;
color: #555;
}
#taskcreate_input_end{
margin-top: 15px;
border: 1px solid #ccc;
color: #555;
}
.form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
cursor: not-allowed;
background-color: #eee;
opacity: 1;
}