<html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width,height=device-height">
    <link href="../resources/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../resources/css/ui-bootstrap-0.13.4-csp.css" rel="stylesheet" type="text/css">
	<link href="../resources/css/ionic.min.css" rel="stylesheet" type="text/css">
	<link href="../resources/js/mobiscroll/mobiscroll.custom-2.17.1.min.css" rel="stylesheet" type="text/css">
   	<link href="../resources/js/mobiscroll/datetime.css" rel="stylesheet" type="text/css">
    <link href="../src/css/style.css" rel="stylesheet" type="text/css">
    <link href="../src/css/task.css" rel="stylesheet" type="text/css">
    <link href="../src/css/repository.css" rel="stylesheet" type="text/css">
    <link href="../src/css/scratcher.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="popup-dialog">
		<div class="modal-dialog addCust" role="document">
			<header class="header" style="position: fixed; z-index: 1;">
				<div class="modal-header" style="position: fixed;">
					<div class="modal-header-goback ng-click-active" id="goBack">
						<button class="button button-icon icon ion-ios-arrow-left"></button>
					</div>
					<div class="modal-header-title" style="width:80%;margin-left:10%;position: absolute;">
						<h4>保前查看</h4>
					</div>
				<!-- <div class="modal-header-goback ng-click-active"
					onclick="vm.goCrmMyInfo()" style="float: right; margin-right: 2%;">
					<button class="button button-icon icon ion-home"></button>
				</div> -->
			</header>
		</div>
</div>
<div style="-webkit-overflow-scrolling:touch;overflow-y:scroll;width:100%;height:100%;">
	<iframe style="width:100%;height:100%" id="surveyUrl"></iframe>
</div>

</body>
<script type="text/javascript" src="../resources/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../src/js/paulBeforeView_indexDB.js"></script>
</html>
