<html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width,height=device-height">
    <link href="../resources/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../resources/css/ui-bootstrap-0.13.4-csp.css" rel="stylesheet" type="text/css">
	<link href="../resources/css/ionic.min.css" rel="stylesheet" type="text/css">
	<link href="../resources/js/mobiscroll/mobiscroll.custom-2.17.1.min.css" rel="stylesheet" type="text/css">
   	<link href="../resources/js/mobiscroll/datetime.css" rel="stylesheet" type="text/css">
    <link href="../src/css/style.css" rel="stylesheet" type="text/css">
    <link href="../src/css/task.css" rel="stylesheet" type="text/css">
    <link href="../src/css/repository.css" rel="stylesheet" type="text/css">
    <link href="../src/css/scratcher.css" rel="stylesheet" type="text/css">
    <!-- <link href="../src/css/slider.css" rel="stylesheet" type="text/css"> -->
</head>
<body>
<div id="popup-dialog">
		<div class="modal-dialog addCust" role="document">
			<header class="header" style="position: fixed; z-index: 1;">
				<div class="modal-header" style="position: fixed;">
					<div class="modal-header-goback ng-click-active" onclick="vm.goCrmMyInfo()">
						<button class="button button-icon icon ion-ios-arrow-left"></button>
					</div>
					<div class="modal-header-title" style="width:80%;margin-left:10%;position: absolute;">
						<h4>我的任务</h4>
					</div>
				<div class="modal-header-goback ng-click-active"
					onclick="vm.goCrmMyInfo()" style="float: right; margin-right: 2%;">
					<button class="button button-icon icon ion-home"></button>
				</div>
			</header>
		</div>
</div>
<div class="tabBox" style="margin-top:52px;">
	<a id="noInsurance" class="tabActive" style="color: black !important; border-bottom: 2px solid transparent;" onclick="vm.goCrmMyTask()">车险</a>
	<a id="carInsurance" class="tabActive">非车险</a> 
</div>
<div class="quotationList scroll-content ionic-scroll has-header" style="overflow-y:scroll;top:95px;" id="quotationList">
	<section id="wrapper" class="page-content" style="overflow-y: scroll;top: 80px;height: 100%;">
    <div class="searchBox">
		<span class="search-input" style="width:68%;">
		<i class="icon ion-ios-search placeholder-icon" onclick="vm.doRefresh()" style="top: 10px;"></i>
		<input type="text" placeholder="请输入项目名称搜索" id="searchWord"  style="outline-color:transparent;" class="ng-pristine ng-untouched ng-valid">
		</span>
		<span id="taskStatusLi" style="width:30%;height:32px;margin-left:5%;line-height:32px;" onclick="vm.selectStatus()" class="disable-user-behavior">
		<span id="statusCode" class="statusCode ng-pristine ng-untouched ng-valid" style="font-size: 14px;">全部</span>
		<span class="allArrowDwnOrange" style="margin-top:2px;"></span>
		</span>
	</div>
	   	<div class="list-level2 first-item-border-top disable-user-behavior">
	   	<div class="list" id="quotationDataList">
	   	<!-- <div class="item-list item" ng-repeat="item in quotationDataList">
		  <div class="row">
				<div class="col-5 textAlignCenter">
					<div class="panel-heading">
					</div>
				</div>
				<div class="col-65 textAlignLeft">
					<ul>
					<li class="headingText cutLength ng-binding">测试保前查勘1</li>
					<li class="list-group-item ng-binding">更新时间:2016-10-25 14:49</li>
					</ul>
				</div>
				<div class="col-30 textAlignCenter" click="vm.clickToFn(item)">
					<div class="panel-point"> 					
						<div class="quotationStatus ng-binding">采集审核</div>
						<i class="icon ion-ios-arrow-right color9d"></i>
					</div>
				</div>
			</div>
		  </div> -->
		</div>
		</div>
		<div>
		<div class="clickmore item" style="display: none;" id="getMore" onclick="vm.searchIndexDB()">
		  <span>点击加载更多</span>
		</div>
		<div class="clickmore item" style="display: block;" id="getNoMore">
		  <span>无更多数据</span>
		</div>
		</div>
	</section>
	</div>

</body>
<script type="text/javascript" src="../resources/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../resources/js/zepto.min.js"></script>
<script type="text/javascript" src="../resources/js/bootstrap.js"></script>
<script type="text/javascript" src="../resources/js/scratcher.js"></script>
<script type="text/javascript" src="../resources/js/iscroll.js"></script>
<script type="text/javascript" src="../src/js/quotation_indexDB.js"></script>
</html>
